/* ==========================================================================
   Web fonts
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic|Roboto+Condensed:400,700|Amiri:400italic,700italic,400,700&subset=arabic,latin);

@font-face {
    src:url('../fonts/icomoon.eot?-ohvcme');
    src:url('../fonts/icomoon.eot?#iefix-ohvcme') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?-ohvcme') format('truetype'),
        url('../fonts/icomoon.woff?-ohvcme') format('woff'),
        url('../fonts/icomoon.svg?-ohvcme#icomoon') format('svg');

    @include font(icon,regular);
}

[class^="icon-"], [class*=" icon-"] 
{
    speak: none;
    text-transform: none;
    vertical-align: bottom;
    font-variant: normal;

    @include font(icon,regular);
}

.icon-home:before {
    content: "\e615";
}
.icon-info:before {
    content: "\e613";
}
.icon-lock-outline:before {
    content: "\e601";
}
.icon-perm-identity:before {
    content: "\e602";
}
.icon-search:before {
    content: "\e605";
}
.icon-settings-power:before {
    content: "\e611";
}
.icon-mic:before {
    content: "\e603";
}
.icon-call-made:before {
    content: "\e600";
}
.icon-dialpad:before {
    content: "\e610";
}
.icon-add:before {
    content: "\e618";
}
.icon-remove:before {
    content: "\e619";
}
.icon-border-color:before {
    content: "\e61c";
}
.icon-insert-invitation:before {
    content: "\e614";
}
.icon-cloud-upload:before {
    content: "\e604";
}
.icon-keyboard-arrow-down:before {
    content: "\e606";
}
.icon-keyboard-arrow-left:before {
    content: "\e607";
}
.icon-keyboard-arrow-right:before {
    content: "\e608";
}
.icon-keyboard-arrow-up:before {
    content: "\e609";
}
.icon-edit:before {
    content: "\e612";
}
.icon-arrow-back:before {
    content: "\e60a";
}
.icon-arrow-drop-down:before {
    content: "\e616";
}
.icon-arrow-drop-up:before {
    content: "\e617";
}
.icon-arrow-forward:before {
    content: "\e60b";
}
.icon-check:before {
    content: "\e60c";
}
.icon-close:before {
    content: "\e60d";
}
.icon-do-not-disturb:before {
    content: "\e60e";
}
.icon-sms-failed:before {
    content: "\e60f";
}
.icon-radio-button-off:before {
    content: "\e61a";
}
.icon-radio-button-on:before {
    content: "\e61b";
}
