/* ==========================================================================
   Web fonts
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic|Roboto+Condensed:400,700|Amiri:400italic,700italic,400,700&subset=arabic,latin);

@font-face {
    src:url('../fonts/icomoon.eot?-t27z9g');
    src:url('../fonts/icomoon.eot?#iefix-t27z9g') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?-t27z9g') format('truetype'),
        url('../fonts/icomoon.woff?-t27z9g') format('woff'),
        url('../fonts/icomoon.svg?-t27z9g#icomoon') format('svg');

    @include font(icon,regular);
}

[class^="icon-"], [class*=" icon-"] 
{
    speak: none;
    text-transform: none;
    vertical-align: bottom;
    font-variant: normal;

    @include font(icon,regular);
}

.icon-assignment-turned-in:before {
    content: "\e602";
}
.icon-exit-to-app:before {
    content: "\e626";
}
.icon-home:before {
    content: "\e615";
}
.icon-info:before {
    content: "\e613";
}
.icon-lock-outline:before {
    content: "\e601";
}
.icon-search:before {
    content: "\e605";
}
.icon-settings:before {
    content: "\e61e";
}
.icon-wallet-giftcard:before {
    content: "\e623";
}
.icon-mic:before {
    content: "\e603";
}
.icon-call-made:before {
    content: "\e600";
}
.icon-dialpad:before {
    content: "\e610";
}
.icon-message:before {
    content: "\e61a";
}
.icon-add:before {
    content: "\e618";
}
.icon-remove:before {
    content: "\e619";
}
.icon-sort:before {
    content: "\e624";
}
.icon-insert-drive-file:before {
    content: "\e625";
}
.icon-insert-invitation:before {
    content: "\e614";
}
.icon-cloud-upload:before {
    content: "\e604";
}
.icon-keyboard-arrow-down:before {
    content: "\e606";
}
.icon-keyboard-arrow-left:before {
    content: "\e607";
}
.icon-keyboard-arrow-right:before {
    content: "\e608";
}
.icon-keyboard-arrow-up:before {
    content: "\e609";
}
.icon-edit:before {
    content: "\e612";
}
.icon-arrow-back:before {
    content: "\e60a";
}
.icon-arrow-drop-down:before {
    content: "\e616";
}
.icon-arrow-drop-up:before {
    content: "\e617";
}
.icon-arrow-forward:before {
    content: "\e60b";
}
.icon-check:before {
    content: "\e60c";
}
.icon-close:before {
    content: "\e60d";
}
.icon-do-not-disturb:before {
    content: "\e60e";
}
.icon-sms-failed:before {
    content: "\e60f";
}
.icon-notifications:before {
    content: "\e61b";
}
.icon-people:before {
    content: "\e61f";
}
.icon-person:before {
    content: "\e620";
}
.icon-school:before {
    content: "\e621";
}
.icon-check-box:before {
    content: "\e61d";
}