/* ==========================================================================
   Navigation
   ========================================================================== */

.column.sidebar,
.columns.sidebar
{
    &.fixed
    {
        @include bp(desktop)
        {
            position: fixed;
            height: 100%;
            padding-right: ($gutter/2);
            padding-left: 0;
            
            @include transform(translate(0%,0%));

            [dir=rtl] &
            {
                left: auto;
                right: 0;
                padding-right: 0;
                padding-left: ($gutter/2);
            }
        }

        .side-nav
        {
            @include bp(desktop)
            {
                height: 100%;

                @include vertical-scroll;
            }
        }
    }

    [dir=rtl] & + .column,
    [dir=rtl] & + .columns
    {
        float: left;
    }
}

.side-nav
{
    background-color: $hover-bg-color;

    @include font(body);

    &.transparent
    {
        background-color: transparent;
    }

    > header,
    > footer
    {
        margin: 0;
        padding: $row-spacing ($gutter/2);
    }

    > header
    {
        color: $heading-color;

        @include font(heading,bold);

        @include bp(small)
        {
            cursor: pointer;
        }

        & + nav,
        & ~ footer
        {
            @include bp(small)
            {
                display: none;
            }
        }

        &.open + nav,
        &.open ~ footer
        {
            @include bp(small)
            {
                display: block;
            }
        }
    }

    > nav
    {
        a
        {
            display: block;
            position: relative;
            color: $body-text-color;
            text-decoration: none;
        }

        ul,
        ol
        {
            margin: 0;
            padding: 0;

            li
            {
                position: relative;
                margin: 0;
                padding: 0;
                line-height: 1.2;
                font-size: .9em;

                &.divider
                {
                    margin: ($row-spacing*2) auto;
                    border-top: $light-divider;

                    &:first-of-type
                    {
                        margin-top: 0;
                    }

                    &:last-of-type
                    {
                        margin-bottom: 0;
                    }
                }

                a
                {
                    &:before
                    {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        content: '';
                        background-color: $heading-color;

                        [dir=rtl] &
                        {
                            right: 0;
                            left: auto;
                        }
                    }

                    html:not(.touch) &:hover
                    {
                        background-color: $hover-bg-color;

                        @include transition(background-color $timing);

                        & + .arrow
                        {
                            background-color: rgba(black,.1);

                            @include transition(background-color $timing);
                        }
                    }

                    &.done
                    {
                        color: $green-success;
                    }

                    &.current
                    {
                        color: $heading-color !important;
                        background-color: $background-color;

                        &:before
                        {
                            width: .3em;

                            @include transition(width $timing);
                        }
                    }

                    &.unavailable
                    {
                        color: $gray-regular;
                        cursor: not-allowed;
                    }
                }

                .arrow
                {
                    position: absolute;
                    top: .2em;
                    left: .5em;
                    width: 1.9em;
                    line-height: 2;
                    text-align: center;
                    cursor: pointer;
                    z-index: 1;

                    [dir=rtl] &
                    {
                        right: .5em;
                        left: auto;
                    }

                    html:not(.touch) &:hover
                    {
                        background-color: $hover-bg-color;
                    }

                    &:before
                    {
                        content: '\e618';

                        @include font(icon,regular);
                    }

                    &.open:before
                    {
                        content: '\e619';
                    }

                    &.open ~ ul,
                    &.open ~ ol
                    {
                        display: block;
                        position: relative;

                        @include animation(open $timing ease-out);
                    }

                    &.open + a
                    {
                        color: $heading-color;
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
        }

        > ul,
        > ol
        {
            > li
            {
                > a
                {
                    padding: $row-spacing 1em $row-spacing 2.8em;

                    @include font(heading,regular);

                    [dir=rtl] &
                    {
                        padding: $row-spacing 2.8em $row-spacing 1em;
                    }
                }

                > ul,
                > ol
                {
                    display: none;

                    > li
                    {
                        a
                        {
                            padding: $row-spacing 1em $row-spacing 3.1em;

                            [dir=rtl] &
                            {
                                padding: $row-spacing 3.1em $row-spacing 1em;
                            }

                            &:after
                            {
                                position: absolute;
                                top: $row-spacing;
                                left: 1.6em;

                                @include font(icon,regular);

                                [dir=rtl] &
                                {
                                    right: 1.6em;
                                    left: auto;
                                }
                            }

                            &.active:after,
                            &.unavailable:after
                            {
                                color: $gray-light;
                            }

                            &.active:after
                            {
                                content: '\e60c';
                            }

                            &.done:after
                            {
                                content: '\e61d';
                                color: $green-success;
                            }

                            &.current:after
                            {
                                color: $heading-color;
                                content: '\e60b';
                            }

                            &.unavailable:after
                            {
                                content: '\e601';
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu-bar
{
    position: fixed;
    width: 100%;
    height: $menu-bar-height;
    margin: 0;
    padding: 0;
    color: white;
    line-height: 3;
    border-bottom: $transparent-light-divider;
    background-color: rgba($secondary-color,.9);
    z-index: ($modal-z - 1);

    @include transform(translate(0%,0%));

    @include button-gradient(
        $secondary-button-color,
        $secondary-button-color,
        darken($secondary-button-color,5%)
    );

    html:not(.touch) &:hover
    {
        background-color: lighten($secondary-button-color,5%);
    }

    &:active
    {
        background-color: darken($secondary-button-color,7%);
    }

    &:focus
    {
        @include animation(pulse-secondary-button-bg 2s ease-in-out infinite);
    }

    .logo
    {
        float: left;
        width: $menu-bar-height;
        height: $menu-bar-height;
        border-right: 2px solid $secondary-color;

        [dir=rtl] &
        {
            float: right;
            border-right: none;
            border-left: 2px solid $secondary-color;
        }

        img
        {
            display: block;
            width: $menu-bar-height;
            height: $menu-bar-height;
        }
    }

    .utilities
    {
        float: right;
        padding-left: 2px;
        height: $menu-bar-height;
        background-color: $secondary-color;

        [dir=rtl] &
        {
            float: left;
            padding-right: 2px;
            padding-left: 0;
        }

        .list
        {
            margin: 0;
            padding: 1px;
            list-style: none;

            > li
            {
                margin: 0;
                padding: 0;

                @include clearfix;

                & + li
                {
                    border-top: $light-divider;
                }

                &.unread
                {
                    .sender,
                    .action
                    {
                        font-weight: bold;
                    }

                    .type
                    {
                        &.warning,
                        &.success
                        {
                            font-weight: bold;
                            border: none;
                        }

                        &.warning
                        {
                            background-color: $yellow-alert;
                        }

                        &.success
                        {
                            color: white;
                            background-color: $green-success;
                        }
                    }
                }

                &.read
                {
                    background-color: $gray-lightest;
                }

                > a
                {
                    display: block;
                    position: relative;
                    margin: 0;
                    padding: $row-spacing ($gutter/2);
                    text-decoration: none;

                    html:not(.touch) &:hover
                    {
                        background-color: $hover-bg-color;

                        @include transition(background-color $timing);
                    }

                    > *
                    {
                        font-size: .8em;
                        white-space: normal;
                    }

                    &.see-all,
                    &.mark-all
                    {
                        color: $link-color;

                        html:not(.touch) &:hover
                        {
                            text-decoration: underline;
                            background-color: transparent;
                        }
                    }

                    &.see-all
                    {
                        float: left;

                        [dir=rtl] &
                        {
                            float: right;
                        }
                    }

                    &.mark-all
                    {
                        float: right;

                        [dir=rtl] &
                        {
                            float: left;
                        }
                    }

                    .type
                    {
                        display: inline-block;
                        position: relative;
                        top: -1px;
                        margin-right: .3em;
                        padding: 1px .5em;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        vertical-align: middle;
                        font-size: .6em;
                        font-weight: normal;
                        border: $light-divider;
                        border-radius: $border-radius;
                        background-color: white;

                        [dir=rtl] &
                        {
                            margin-right: 0;
                            margin-left: .3em;
                        }
                    }

                    .sender,
                    .subject-line,
                    .message
                    {
                        @include truncate;
                    }

                    .sender
                    {
                        width: 75%;
                        font-size: 1em;
                    }

                    .date
                    {
                        position: absolute;
                        top: 1em;
                        right: 1.2em;
                        color: $gray-regular;
                    }

                    .subject-line,
                    .message
                    {
                        margin: .2em 0;
                    }

                    .action
                    {
                        width: 75%;
                    }
                }
            }
        }

        .messages,
        .notifications,
        .user-settings
        {
            .drop
            {
                @extend .drop.down;
                @extend .drop.flush-right;

                [dir=rtl] &
                {
                    @extend .drop.flush-left;
                }

                .bubble
                {
                    @include bp(small)
                    {
                        width: 30rem;
                    }

                    @include bp(desktop)
                    {
                        width: 48rem;
                    }
                }
            }
        }

        .messages
        {
            .drop .bubble
            {
                right: -5.55em !important;
            }

            .drop .bubble:before,
            .drop .bubble:after
            {
                right: 6.55em !important;
            }
        }

        .notifications
        {
            .drop .bubble
            {
                right: -2.45em !important;
            }

            .drop .bubble:before,
            .drop .bubble:after
            {
                right: 3.45em !important;
            }
        }

        .user-settings
        {
            .drop .bubble
            {
                right: .7em !important;
            }

            .drop .bubble:before,
            .drop .bubble:after
            {
                right: .3em !important;
            }
        }

        .user
        {
            &:after
            {
                line-height: 3;
                content: '\e606';
                vertical-align: top;

                @include font(icon,regular);

                @include bp(desktop)
                {
                    margin-left: .2em;

                    [dir=rtl] &
                    {
                        margin-right: .2em;
                        margin-left: 0;
                    }
                }
            }

            &.open:after
            {
                content: '\e609';
            }

            &:after,
            &.open:after
            {
                @include bp(small)
                {
                    content: '\e620';
                }
            }

            .profile-photo
            {
                display: inline-block;
                position: relative;
                width: 1.5em;
                height: 1.5em;
                margin: .75em 0;
                border-radius: 100em;
                border: $transparent-light-divider;

                @include bp(small)
                {
                    display: none;
                }

                &:before
                {
                    position: absolute;
                    color: rgba(white,.5);
                    content: '\e612';
                    line-height: 1;
                    font-size: .8em;
                    z-index: -1;

                    @include font(icon,regular);
                    @include center(xy);
                }

                img
                {
                    display: block;
                    width: 100%;
                    height: auto;
                    border-radius: 100em;
                }

                html:not(.touch) &:hover
                {
                    border: 1px solid white;
                    background-color: rgba(black,.8);

                    &:before
                    {
                        color: white;
                        z-index: 1;
                    }

                    img
                    {
                        @include opacity(.5);
                    }
                }
            }

            .name
            {
                display: inline-block;
                max-width: 15em;
                margin-left: .5em;

                @include font(heading,regular);
                @include truncate;

                @include bp(small)
                {
                    display: none;
                }

                [dir=rtl] &
                {
                    margin-right: .5em;
                    margin-left: 0;
                }
            }
        }

        .button
        {
            margin: 0;
        }
    }

    & + .content
    {
        padding-top: $menu-bar-height;

        .fixed
        {
            @include bp(desktop)
            {
                height: calc(100% - $menu-bar-height);
            }
        }
    }
}

.content
{
    overflow-x: hidden;
}

.summary
{
    .thumbnail
    {
        figure
        {
            @include bp(small)
            {
                margin: 0;
            }
        }
        
        img
        {
            border: $light-divider;
            border-radius: $border-radius;
        }
    }

    .description
    {
        padding-top: $row-spacing;
        padding-bottom: $row-spacing;

        > *:first-child
        {
            margin-top: 0;
        }

        > *:last-child
        {
            margin-bottom: 0;
        }
    }
}

.summary.program
{
    padding: $row-spacing*3 0;
    border-bottom: $light-divider;
}

.units-list
{
    margin: 0;
    padding: 0;
    list-style: none;

    .summary.unit
    {
        .thumbnail
        {
            img
            {
                border-radius: 100em;
            }
        }

        .description
        {
            h2
            {
                letter-spacing: 0;
                font-size: 1.2em;
            }
        }
    }

    > li
    {
        position: relative;
        margin: 0 0 -1px 0;
        padding: $row-spacing*3 ($gutter/2);
        border-top: $light-divider;

        &.date-divider
        {
            margin-top: $row-spacing*6;
            padding: 0;
            line-height: 1;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: .6em;
            font-weight: bold;
            border-top: none;

            span
            {
                display: inline-block;
                padding: .5em;
                color: $heading-color;
                border: $light-divider;
            }
        }

        &:first-of-type
        {
            border-top: none;
        }

        &.done
        {
            background-color: $highlight-green;
        }
    }
}


.duration
{
    display: inline-block;
    position: relative;
    top: -1px;
    padding: 2px .4em;
    color: $body-text-color;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    font-size: .7em;
    border-radius: $border-radius;
    box-shadow: $input-border;
}