/* ==========================================================================
   Layout
   ========================================================================== */

.section
{
    @include bp(small)
    {
        margin-top: $row-spacing*2.5;
        margin-bottom: $row-spacing*2.5;
    }

    @include bp(medium)
    {
        margin-top: $row-spacing*3;
        margin-bottom: $row-spacing*3;
    }

    @include bp(large)
    {
        margin-top: $row-spacing*3.5;
        margin-bottom: $row-spacing*3.5;
    }
}

.menu-bar
{
    & + .content
    {
        .sidebar.fixed
        {
            @include bp(small)
            {
                top: $menu-bar-height;
            }

            @include bp(desktop)
            {
                height: calc(100% - #{$menu-bar-height});
            }
        }

        .sidebar.fixed.scrolled
        {
            @include bp(small)
            {
                @include transform(translateY(-$menu-bar-height));
            }
        }

        .steps-nav.scrolled
        {
            @include bp(desktop)
            {
                top: 0;
            }
        }
    }

    &.with-progress + .content
    {
        .sidebar.fixed
        {
            @include bp(desktop)
            {
                height: calc(100% - 1.6em - #{$menu-bar-height});
            }
        }

        .sidebar.fixed.scrolled
        {
            @include bp(small)
            {
                @include transform(translateY((-1.6em - $menu-bar-height)));
            }
        }
    }

    & + .content,
    &.with-progress + .content
    {
        .sidebar.fixed.scrolled
        {
            @include bp(desktop)
            {
                top: 0;
                height: 100%;
            }
        }
    }

    &.fixed + .content
    {
        padding-top: $menu-bar-height;

        .sidebar.fixed.scrolled
        {
            @include bp(small)
            {
                @include transform(translateY(0%));
            }

            @include bp(desktop)
            {
                top: auto;
                height: calc(100% - #{$menu-bar-height});
            }
        }

        .steps-nav.scrolled
        {
            @include bp(desktop)
            {
                top: $menu-bar-height;
            }
        }
    }

    &.with-progress.fixed + .content
    {
        padding-top: ($menu-bar-height + 1.6em);
        
        .sidebar.fixed.scrolled
        {
            @include bp(desktop)
            {
                top: auto;
                height: calc(100% - 1.6em - #{$menu-bar-height});
            }
        }
    }
}

.content
{
    overflow-x: hidden;
    padding-bottom: $row-spacing*4;

    @include clearfix;
}

.content-header,
.content-body
{
    @extend .row;

    .wrapper
    {
        @extend .columns;
        @extend .medium-11;
        @extend .columns.small-centered;
    }
}

.outer-chapter
{
    @include bp(desktop)
    {
        float: right;
        
        [dir=rtl] &
        {
            float: left;
        }
    }
}

.sidebar
{
    @include bp(small)
    {
        padding-right: 0;
        padding-left: 0;
    }

    @include bp(desktop)
    {
        float: left;
        padding-right: ($gutter/2);
        padding-left: 0;

        [dir=rtl] &
        {
            float: right;
            padding-right: 0;
            padding-left: ($gutter/2);
        }
    }

    @include bp(medium)
    {
        width: 320px;
        width: 32rem;

        & + .outer-chapter
        {
            width: calc(100% - 320px);
            width: calc(100% - 32rem);
        }
    }

    @include bp(large)
    {
        width: $golden-side-width;

        & + .outer-chapter
        {
            width: ($golden-main-width + $golden-side-width);
        }
    }

    &.fixed
    {
        position: fixed;

        @include bp(small)
        {
            width: 100%;
            z-index: ($modal-z - 1);
        }

        @include bp(desktop)
        {
            height: 100%;
            
            @include transform(translate(0%,0%));

            [dir=rtl] &
            {
                left: auto;
                right: 0;
            }
        }

        & + .outer-chapter
        {
            @include bp(small)
            {
                padding-top: $menu-bar-height;
            }
        }

        .side-nav
        {
            @include bp(desktop)
            {
                height: 100%;

                @include vertical-scroll;
            }

            > header,
            > footer
            {
                position: relative;
                z-index: 1;
            }
        }
    }

    &.scrolled
    {
        .side-nav
        {
            > header
            {
                &.open + nav
                {
                    @include bp(small)
                    {
                        max-height: 300px;

                        @include vertical-scroll;
                        @include visible-scrollbar;
                    }
                }
            }
        }
    }
}

.footer
{
    clear: both;
    margin: 0;
    padding: ($row-spacing*2) 0;
    text-align: center;
    background-color: $gray-lightest;
}

.block
{
    display: block;
    clear: both;
    margin: $row-spacing auto;
    
    &.double
    {
        margin: ($row-spacing*2) auto;
    }
}

.hero-heading
{
    padding: $row-spacing*2 ($gutter/2) $row-spacing ($gutter/2);
    text-align: center;
    border-bottom: $light-divider;
    background-image: url('../img/bg-polygon.jpg');
    background-position: center center;

    @include background-size(cover);

    &.filled
    {
        position: relative;
        color: white;

        @include bp(desktop)
        {
            padding: $row-spacing*6 ($gutter/2) $row-spacing ($gutter/2);
        }

        &:before
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';

            @include background(linear-gradient(rgba(black,.1), rgba(black,.8)) top);
        }
    }

    .text
    {
        position: relative;
    }
}