/* ==========================================================================
   Timeline
   ========================================================================== */

.summary
{
    .thumbnail
    {
        figure
        {
            @include bp(small)
            {
                margin: 0;
            }
        }
        
        img
        {
            border: $light-divider;
            border-radius: $border-radius;
        }
    }

    .description
    {
        padding-top: $row-spacing;
        padding-bottom: $row-spacing;

        > *:first-child
        {
            margin-top: 0;
        }

        > *:last-child
        {
            margin-bottom: 0;
        }
    }

    &.program
    {
        padding: $row-spacing*3 0;
        border-bottom: $light-divider;
    }

    &.unit
    {
        .description
        {
            h2
            {
                letter-spacing: 0;
                font-size: 1.2em;
            }
        }
    }

    &.unit,
    &.user
    {
        .thumbnail
        {
            img
            {
                border-radius: 100em;
            }
        }
    }

    &.user
    {
        padding: $row-spacing 0;
        border-bottom: $light-divider;

        @include bp(small)
        {
            text-align: center;
        }

        .involvements,
        .current-programs
        {
            margin: .3em 0;
        }

        .current-programs
        {
            line-height: 1.2;
            font-size: .8em;
        }
    }
}

.units-list
{
    margin: 0;
    padding: 0;
    list-style: none;

    > li
    {
        position: relative;
        margin: 0 0 -1px 0;
        padding: $row-spacing*3 ($gutter/2);
        border-top: $light-divider;

        &.divider
        {
            margin-top: $row-spacing*6;
            padding: 0;
            line-height: 1;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: .6em;
            font-weight: bold;
            border-top: none;

            span
            {
                display: inline-block;
                padding: .5em;
                color: $heading-color;
                border: $light-divider;
            }
        }

        &:first-of-type
        {
            border-top: none;
        }

        &.done
        {
            background-color: $highlight-green;
        }
    }
}

.duration
{
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: .2em;
    padding: 0 .3em;
    color: inherit;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    font-size: .7em;
    border: 1px solid;
    border-radius: $border-radius;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    .duration
    {
        top: -.1em;
    }
}

.hero-heading
{
    padding: $row-spacing*2 ($gutter/2) $row-spacing ($gutter/2);
    text-align: center;
    border-bottom: $light-divider;
    background-image: url('../img/bg-polygon.jpg');
    background-position: center center;

    @include background-size(cover);

    &.filled
    {
        position: relative;
        color: white;

        @include bp(desktop)
        {
            padding: $row-spacing*6 ($gutter/2) $row-spacing ($gutter/2);
        }

        &:before
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';

            @include background(linear-gradient(rgba(black,.1), rgba(black,.8)) top);
        }
    }

    .text
    {
        position: relative;
    }
}

.plain-list
{
    ol
    {
        margin: 0;
        padding-right: 0;
        counter-reset: item;
        list-style: none;

        [dir=rtl] &
        {
            padding-right: $gutter;
            padding-left: 0;
        }

        li
        {
            border-top: $light-divider;

            &:before 
            { 
                position: relative;
                top: .5em;
                color: $gray-regular;
                content: counters(item, ".") " "; 
                counter-increment: item;
                vertical-align: top;
                font-size: .8em;
            }
        }
    }

    > ol
    {
        padding: 0;

        > li:before
        {
            content: counters(item, "") ". "; 
        }
    }

    .divider
    {
        margin-top: ($row-spacing*3);
        line-height: 1;

        span
        {
            display: inline-block;
            padding: .5em;
            color: $heading-color;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: .6em;
            font-weight: bold;
            border: $light-divider;
            border-bottom: none;
        }
    }

    a
    {
        display: inline-block;
        position: relative;
        padding: .5em 0 .5em 1.5em;
        color: $body-text-color;
        font-size: .8em;

        [dir=rtl] &
        {
            padding: .5em 1.5em .5em 0;
        }

        html:not(.touch) &:hover
        {
            text-decoration: underline;
        }

        &:before
        {
            position: absolute;
            top: .5em;
            left: .2em;

            @include font(icon,regular);

            [dir=rtl] &
            {
                right: .2em;
                left: auto;
            }
        }

        &.done
        {
            color: $green-success;

            &:before
            {
                content: '\e60c';
            }
        }

        &.unavailable
        {
            color: $gray-regular;
            cursor: not-allowed;

            &:before
            {
                content: '\e601';
            }
        }

        &.current
        {
            color: $heading-color;
            font-weight: bold;

            &:before
            {
                content: '\e60b';

                [dir=rtl] &
                {
                    content: '\e60a';
                }
            }
        }
    }

    .duration
    {
        color: $gray-regular;
    }
}