        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="http://anijs.github.io/lib/anijs0.8.0/anijs.js"></script>
        <script src="http://anijs.github.io/lib/anijs0.8.0/helpers/dom/anijs-helper-dom.js"></script>
        <script src="/js/vendor/chart.min.js"></script>
        <script src="/js/vendor/{{ page.chartjs }}.js"></script>
        <!--<script src="/js/vendor/foundation-responsive-tables.js"></script>-->
        <script src="/js/main.js"></script>
    </body>
</html>