<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Mobile view styles -->
        <meta name="HandheldFriendly" content="True"> 
        <meta name="MobileOptimized" content="320"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="cleartype" content="on">

        <!-- SEO -->
        <meta name="author" content="Fullbridge Tech">
        <meta name="description" content="{{ page.description }}">
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="img/ios/h/touch-icon-ipad-retina.png" />
        <meta property="og:url" content="{{ page.canonical }}" />
        <meta property="og:site_name" content="{{ page.title }}" />
        <title>{{ page.title }}</title>
        <link rel="canonical" href="{{ page.canonical }}">

        <!-- CSS for the site -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://i.icomoon.io/public/537c602365/Fullbridgeplatform/style.css"><!-- Change to Cloudfront link in production -->

        <!-- Thumbnail for social -->
        <link rel="image_src" href="/img/ios/h/touch-icon-ipad-retina.png" />

        <!-- Touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ios/h/touch-icon-ipad-retina.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ios/h/apple-touch-icon.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ios/m/apple-touch-icon.png">
        <link rel="apple-touch-icon-precomposed" href="/img/ios/l/apple-touch-icon-precomposed.png">
        <link rel="icon" href="/img/favicon.ico">

        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body dir="{{ page.direction }}">