        <nav class="menu-bar {{ page.nav-progress }} {{ page.nav-position }}">
            <a href="javascript:" class="logo" data-tip="Fullbridge Program"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
            <div class="program-select {{ page.nav-program-select }}">
                <a href="program.html" class="button exit">
                    <span class="icon-close"></span> Exit program mode
                </a>
                <div class="drop">
                    <span class="button">
                        <span class="icon-more-vert"></span> Fullbridge Professional Edge at Holy Cross
                    </span>
                    <ul class="bubble collapse">
                        <ol class="list">
                            <li>
                                <a href="javascript:" class="see-all"
                                    data-anijs="if: click, do: $addClass open, to: #modal-client-my-programs;">
                                    My Programs <span class="counter follow">10</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:">
                                    <span class="program-title">Getting Started with Fullbridge</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:">
                                    <span class="program-title current">Fullbridge Professional Edge at Holy Cross</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:">
                                    <span class="program-title">Goodwin Procter: Business Fundamentals</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:">
                                    <span class="program-title">Washington &amp; Jefferson College: Entrepreneurship</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:">
                                    <span class="program-title">What's Graphic Design?</span>
                                </a>
                            </li>
                            <li class="centered-text">
                                <a href="javascript:"
                                    data-anijs="if: click, do: $addClass open, to: #modal-client-my-programs;">
                                    Show all programs
                                </a>
                            </li>
                        </ol>
                    </ul>
                </div>
            </div>
            <div class="utilities">
                <ul class="button-group">
                    <li class="notifications">
                        <div class="drop">
                            <span class="button icon-notifications"><span class="counter">2</span></span>
                            <div class="bubble collapse">
                                <ol class="list">
                                    <li>
                                        <a href="javascript:" class="see-all">
                                            Notifications <span class="counter follow">2</span>
                                        </a>
                                        <a href="javascript:" class="mark-all">
                                            Mark all as read
                                        </a>
                                    </li>
                                    <li class="unread">
                                        <a href="javascript:">
                                            <div class="action"><span class="type success">Engagement</span> <span class="highlighted">58 badges</span> have been awarded!</div>
                                            <span class="date">Yesterday</span>
                                        </a>
                                    </li>
                                    <li class="unread">
                                        <a href="javascript:">
                                            <div class="action"><span class="highlighted">50 students</span> have signed up. There are still 10 open seats.</div>
                                            <span class="date">07/23/2015</span>
                                        </a>
                                    </li>
                                    <li class="centered-text">
                                        <a href="javascript:">
                                            Show all
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="user-settings">
                        <div class="drop">
                            <div class="button">
                                <label class="profile-photo-edit">
                                    <input type="file">
                                    <span class="photo missing"></span>
                                </label>
                            </div>
                            <ul class="bubble">
                                <div class="mini-profile">
                                    <div class="thumbnail">
                                        <label class="profile-photo-edit">
                                            <input type="file">
                                            <span class="photo missing"></span>
                                        </label>
                                    </div>
                                    <div class="description">
                                        <h5>John Doe</h5>
                                        <div class="email">
                                            name@university.edu
                                        </div>
                                    </div>
                                </div>
                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>