<div id="modal-client-my-programs" class="reveal-modal" aria-labelledby="Modal" aria-hidden="true" role="dialog">
    <div class="row">
        <div class="small-centered small-12 medium-10 columns">
            <div class="reveal basic">
                <header class="reveal-label">My Programs</header>
                <div class="row">
                    <div class="column">
                        <div class="block">
                            <small>
                                <div class="row">
                                    <div class="small-pull-0 column">
                                        <div class="pagination" aria-label="Pagination">
                                            <a class="disabled" rel="prev start" href="javascript:">&laquo; <span class="text">Prev</span></a>
                                            <em class="current">1</em>
                                            <a rel="next" href="javascript:">2</a>
                                            <a href="javascript:">3</a>
                                            <a rel="next" href="javascript:"><span class="text">Next</span> &raquo;</a>
                                        </div>
                                    </div>
                                    <div class="small-push-0 column">
                                    </div>
                                </div>
                            </small>
                        </div>
                        <div class="block horizontal-scroll">
                            <table class="table data small">
                                <thead>
                                    <tr>
                                        <th><span class="column-title">Title</span></th>
                                        <th width="150" class="sorted descending"><span class="column-title">Start Date</span></th>
                                        <th width="100"><span class="column-title"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Getting Started with Fullbridge</td>
                                        <td>08/21/2015</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                    <tr>
                                        <td>Fullbridge Professional Edge at Holy Cross</td>
                                        <td>08/21/2015</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                    <tr>
                                        <td>Goodwin Procter: Business Fundamentals</td>
                                        <td>08/21/2015</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                    <tr>
                                        <td>Program Title</td>
                                        <td>MM/DD/YYYY</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                    <tr>
                                        <td>Program Title</td>
                                        <td>MM/DD/YYYY</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                    <tr>
                                        <td>Program Title</td>
                                        <td>MM/DD/YYYY</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                    <tr>
                                        <td>Program Title</td>
                                        <td>MM/DD/YYYY</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                    <tr>
                                        <td>Program Title</td>
                                        <td>MM/DD/YYYY</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                    <tr>
                                        <td>Washington &amp; Jefferson College: Entrepreneurship</td>
                                        <td>08/21/2015</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                    <tr>
                                        <td>What's Graphic Design?</td>
                                        <td>08/21/2015</td>
                                        <td><a href="javascript:" class="link">Select</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>
                            <small>1&ndash;10 of 23</small>
                        </p>
                    </div>
                </div>
                <a href="javascript:" class="close"></a>
            </div>
        </div>
    </div>
</div>