        <!--[if lt IE 7]>
        <div id="modal-ie" class="overlay center open" aria-labelledby="Modal" aria-hidden="true" role="dialog">
            <div class="alert-box warning">
                <p>
                    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
                </p>
                <a href="javascript:" class="close"
                    data-anijs="if: click, do: $removeClass open, to: #modal-ie;"></a>
            </div>
        </div>
        <![endif]-->