            <div class="row subnav {{ page.subnav-position }}">
                <nav class="medium-11 small-centered columns">
                    <ul class="primary small-even-3">
                        <li class="{{ page.pin-program }}">
                            <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Program</span></a>
                        </li>
                        <li class="{{ page.pin-grades }}">
                            <a href="javascript:"><span class="icon-assignment-turned-in"></span> <span class="label-text">Grades</span></a>
                        </li>
                        <li class="{{ page.pin-community }}">
                            <a href="javascript:"><span class="icon-people"></span> <span class="label-text">Community</span></a>
                        </li>
                        <li class="end view-toggle">
                            <div class="form">
                                <label class="label collapse small">
                                    <span class="select">
                                        <select>
                                            <option selected>View as coach</option>
                                            <option>View as participant</option>
                                        </select>
                                    </span>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <ul class="secondary">
                        <li class="{{ page.pin-program-overview }}"><a href="program.html">Overview</a></li>
                        <li class="{{ page.pin-program-calendar }}"><a href="javascript:">Calendar</a></li>
                        <li class="{{ page.pin-program-list }}"><a href="program-list.html">List</a></li>
                        <li class="{{ page.pin-program-files }} end"><a href="javascript:">Files</a></li>
                    </ul>
                </nav>
            </div>