            <div class="subnav {{ page.subnav-position }}">
                <nav role="navigation" title="Secondary navigation">
                    <ul class="primary small-even-2">
                        <li class="{{ page.pin-dashboard }}">
                            <a href="dashboard-overview.html"><span class="icon-dashboard"></span> <span class="label-text">Dashboard</span></a>
                        </li>
                        <li class="{{ page.pin-support }}">
                            <a href="javascript:"><span class="icon-help"></span> <span class="label-text">Support</span></a>
                        </li>
                    </ul>
                    <ul class="secondary">
                        <li class="{{ page.pin-dashboard-overview }}"><a href="dashboard-overview.html">Overview</a></li>
                        <li class="{{ page.pin-dashboard-competencies }}"><a href="dashboard-competencies.html">Competencies</a></li>
                        <li class="{{ page.pin-dashboard-engagement }}"><a href="dashboard-engagement.html">Engagement</a></li>
                        <li class="{{ page.pin-dashboard-students }}"><a href="dashboard-students.html">Students</a></li>
                    </ul>
                </nav>
            </div>