---
title: Participant Pod
description: 
canonical: 
direction: 
---
    {% include head.html %}

        {% include outdated-browser.html %}

        <nav class="menu-bar">
            <a href="javascript:" class="logo"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
            <div class="program-select">
                <div class="drop down">
                    <a href="program.html" class="button secondary">
                        <span class="icon-close"></span> Exit program mode
                    </a>
                </div>
            </div>
            <div class="utilities">
                <ul class="button-group">
                    <li class="messages">
                        <div class="drop">
                            <span class="button secondary icon-message"><span class="counter">1</span></span>
                            <div class="bubble collapse">
                                <ol class="list">
                                    <li>
                                        <a href="javascript:" class="see-all">
                                            Messages <span class="counter follow">1</span>
                                        </a>
                                        <a href="javascript:" class="mark-all">
                                            Mark all as read
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascript:">
                                            <div class="sender"><span class="type">Coach</span> Mike Mai</div>
                                            <div class="date">9:11 AM</div>
                                            <div class="subject-line">What to bring on last day of Class</div>
                                            <div class="message">A pencil, a sketchbook, and your awesome attitude.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed.</div>
                                        </a>
                                    </li>
                                    <li class="unread">
                                        <a href="javascript:">
                                            <div class="sender">Rick O'Halloran</div>
                                            <div class="date">Yesterday</div>
                                            <div class="subject-line">Are you going to class tomorrow?</div>
                                            <div class="message">Aliquam tincidunt mauris eu risus.</div>
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascript:">
                                            <div class="sender">Cori Allen</div>
                                            <div class="date">05/21/15</div>
                                            <div class="subject-line">Yo, can you do my homework?</div>
                                            <div class="message">Vestibulum auctor dapibus neque.</div>
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascript:">
                                            <div class="sender">Full Name</div>
                                            <div class="date">03/21/15</div>
                                            <div class="subject-line">Subject line</div>
                                            <div class="message">Message body.</div>
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascript:">
                                            <div class="sender">Show 5 messages max</div>
                                            <div class="date">02/21/15</div>
                                            <div class="subject-line">Subject line</div>
                                            <div class="message">Message body.</div>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="notifications">
                        <div class="drop">
                            <span class="button secondary icon-notifications"><span class="counter">2</span></span>
                            <div class="bubble collapse">
                                <ol class="list">
                                    <li>
                                        <a href="javascript:" class="see-all">
                                            Notifications <span class="counter follow">2</span>
                                        </a>
                                        <a href="javascript:" class="mark-all">
                                            Mark all as read
                                        </a>
                                    </li>
                                    <li class="unread">
                                        <a href="javascript:">
                                            <div class="action"><span class="type warning">To-do</span> Self-Awareness and Communication is due today.</div>
                                            <span class="date">8:00 AM</span>
                                        </a>
                                    </li>
                                    <li class="unread">
                                        <a href="javascript:">
                                            <div class="action"><span class="type success">Accomplishment</span> Congrats, you have earned the Mark Zuckerberg badge!</div>
                                            <span class="date">Yesterday</span>
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascript:">
                                            <div class="action"><span class="type success">Accomplishment</span> Nice, you finished Pre-work: Finance Diagnostic.</div>
                                            <span class="date">Yesterday</span>
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascript:">
                                            <div class="action">Goodwin Procter: Business Fundamentals is starting today.</div>
                                            <span class="date">02/23/15</span>
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascript:">
                                            <div class="action">Welcome to The Fullbridge Program, check out all the programs that are available to you.</div>
                                            <span class="date">02/22/15</span>
                                        </a>
                                    </li>
                                    <li class="read">
                                        <a href="javascript:">
                                            <div class="action">Show 5 notifications max.</div>
                                            <span class="date">02/22/15</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="user-settings">
                        <div class="drop">
                            <div class="button secondary">
                                <label class="profile-photo-edit">
                                    <input type="file">
                                    <span class="photo"><img src="http://www.fillmurray.com/114/114" alt="Bill Murray"></span>
                                </label>
                                <span class="name">Hello, Bill Murray</span>
                            </div>
                            <ul class="bubble">
                                <div class="mini-profile">
                                    <div class="thumbnail">
                                        <label class="profile-photo-edit">
                                            <input type="file">
                                            <span class="photo"><img src="http://www.fillmurray.com/114/114" alt="Bill Murray"></span>
                                        </label>
                                    </div>
                                    <div class="description">
                                        <h5>Bill Murray</h5>
                                        <div class="involvements">
                                            <span class="type">Participant</span>
                                        </div>
                                        <div class="email">
                                            billmurray@ghostbusters.com
                                        </div>
                                    </div>
                                </div>
                                <li><span class="icon-person"></span> <a href="javascript:">Profile</a></li>
                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                <li><span class="icon-wallet-giftcard"></span> <a href="javascript:">Payments</a></li>
                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content">
            <div class="sidebar fixed">
                <div class="progress">
                    <span class="meter success" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100" style="width: 3%;">3% complete</span>
                </div>
                <div class="side-nav">
                    <header>
                        Goodwin Procter: Business Fundamentals
                    </header>
                    <nav role="navigation" title="Style Guide navigation">
                        <ul>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:" class="done"><div class="arrow"></div> Pre-work: Finance Diagnostic</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="done">Finance Diagnostic <span class="duration">90 min</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:" class="open"><div class="arrow"></div> Welcome</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="done">Welcome, Competencies, and Traits <span class="duration">25 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="done">Fullbridge Program Goals <span class="duration">30 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="current">Knowing Your Style: MBTI <span class="duration">40 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Professionalism <span class="duration">25 min</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:" class="unavailable"><div class="arrow"></div> Self-Awareness and Communication</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="unavailable">Self and Social Awareness <span class="duration">45 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Communicating with Impact <span class="duration">45 min</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:" class="unavailable"><div class="arrow"></div> Intro to Effective Presentation</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="unavailable">Top Down Thinking <span class="duration">60 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Structuring Your Thoughts <span class="duration">30 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Email Communication in a Business Context <span class="duration">60 min</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:" class="unavailable"><div class="arrow"></div> Fullbridge Excel Tutorial</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="unavailable">Excel Basics <span class="duration">60 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Interactive Spreadsheet Practice I <span class="duration">30 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Formulas and Functions <span class="duration">60 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Charts in Excel <span class="duration">30 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Interactive Spreadsheet Practice II <span class="duration">60 min</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:" class="unavailable"><div class="arrow"></div> Effective Teamwork</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="unavailable">Successful Teams <span class="duration">45 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Marooned Team Exercises: Interactive Simulation <span class="duration">120 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Becoming a Dynamic Team Member <span class="duration">60 min</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:" class="unavailable"><div class="arrow"></div> Presenting Your Ideas</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="unavailable">Presenting with PowerPoint <span class="duration">30 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Showing Data Effectively <span class="duration">105 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Effective Oral Presentation <span class="duration">90 min</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="unavailable">Creating Engaging Communication <span class="duration">15 min</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <input type="hidden" 
                                data-anijs="if: click, on: .side-nav nav>ul>li>a, do: $toggleClass open, to: target;
                                            if: click, on: .side-nav nav a:not(.unavailable), do: $removeClass current, to: .side-nav nav a;
                                            if: click, on: .side-nav nav a:not(.unavailable), do: $addClass current, to: target;">
                        </ul>
                    </nav>
                    <footer>
                        <p><small>2015 &copy; Fullbridge Program</small></p>
                    </footer>
                </div>
            </div>
            <div class="outer-chapter">
                <div class="row">
                    <div class="column">
                        <h1 class="hero-heading filled" style="background-image:url('http://d2xhwju6fvossd.cloudfront.net/cf/images/fdaf1b20856511e499c745074e228eda/950_fp_01_04_02_crowd.jpg');">
                            <div class="text">
                                Knowing Your Style: MBTI <span class="duration">40 min</span>
                            </div>
                        </h1>
                    </div>
                </div>
                <div class="row section">
                    <main class="column">
                        <div class="secondary-side-nav">
                            <nav>
                                <ul>
                                    <li class="done">
                                        <a class="down flush-left short" data-tip="Reading &raquo; Pod 1 Title" href="javascript:"><span class="icon-my-library-books"></span></a>
                                    </li>
                                    <li class="done"
                                        data-anijs="if: click, do: $removeClass hidden, to: .pod-1;
                                                    if: click, do: $addClass hidden, to: .pod-2;">
                                        <a class="down flush-left short" data-tip="Video &raquo; What Is Your Type?" href="javascript:"><span class="icon-video-collection"></span></a>
                                    </li>
                                    <li class="current"
                                        data-anijs="if: click, do: $removeClass hidden, to: .pod-2;
                                                    if: click, do: $addClass hidden, to: .pod-1;">
                                        <a class="down flush-left short" data-tip="Exercise &raquo; The MBTI Assessment: TypeCoach Verifier" href="javascript:"><span class="icon-edit"></span></a>
                                    </li>
                                    <li class="unavailable">
                                        <a class="down flush-left short" data-tip="Reading &raquo; Pod 4 Title" href="javascript:"><span class="icon-my-library-books"></span></a>
                                    </li>
                                    <li class="unavailable">
                                        <a class="down flush-left short" data-tip="Reading &raquo; Pod 5 Title" href="javascript:"><span class="icon-my-library-books"></span></a>
                                    </li>
                                    <li class="unavailable">
                                        <a class="down flush-left short" data-tip="Reading &raquo; Pod 6 Title" href="javascript:"><span class="icon-my-library-books"></span></a>
                                    </li>
                                    <li class="unavailable">
                                        <a class="down flush-left short" data-tip="Reading &raquo; Pod 7 Title" href="javascript:"><span class="icon-my-library-books"></span></a>
                                    </li>
                                    <li class="unavailable">
                                        <a class="down flush-left short" data-tip="Reading &raquo; Pod 8 Title" href="javascript:"><span class="icon-my-library-books"></span></a>
                                    </li>
                                    <input type="hidden" 
                                        data-anijs="if: click, on: .secondary-side-nav li:not(.unavailable), do: $removeClass current, to: .secondary-side-nav li;
                                                    if: click, on: .secondary-side-nav li:not(.unavailable), do: $addClass current, to: target;">
                                </ul>
                            </nav>
                        </div>
                        <article class="article">
                            <div class="row">
                                <div class="medium-10 small-centered columns pod-1 hidden">
                                    <h2>What Is Your Type?</h2>
                                    <figure>
                                        <video id="video1" controls preload poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="640" height="360">
                                            <source id="mp4" src="http://media.w3.org/2010/05/bunny/trailer.mp4" type="video/mp4">
                                            <source id="ogv" src="http://media.w3.org/2010/05/bunny/trailer.ogv" type="video/ogg">
                                            <p>Your user agent does not support the HTML5 Video element.</p>
                                        </video>
                                        <figcaption>
                                            Credits: AP Videos
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="medium-10 small-centered columns pod-2">
                                    <h2>The MBTI Assessment: TypeCoach Verifier</h2>
                                    <h3>You on Your Team</h3>
                                    <p>Throughout the Fullbridge Program, you will be asked to work as a member of a team. As you'll see firsthand, effective teamwork allows for the development of concepts and deliverables that could not have been created by a single individual.</p>
                                    <p>True teamwork requires significant effort and awareness on everyone's part. The Myers-Briggs Type Indicator, or MBTI, is one tool that many companies and individuals use to increase self-awareness. The MBTI offers useful information about how people perceive the world, absorb information, and make decisions.</p>
                                    <p>You will now take the MBTI assessment online, using an interactive tool called the TypeCoach Verifier. Please follow the instructions in the column to the right.</p>
                                    <h3>MBTI Assessment</h3>
                                    <p>Your MBTI Verifier results will provide you with insight into your personal style preferences, how those preferences influence your approach to information and interactions, and how other people might experience working with you. This assessment also provides a framework for thinking about the preferred styles of others. There are no correct or incorrect answers or good or bad "scores," and this assessment does not measure abilities or intelligence. It contains no value judgments about preferred styles, nor is it a psychological test that can reveal private aspects of your personality.</p>
                                    <h5>Instructions</h5>
                                    <ol>
                                        <li><a href="https://www.type-coach.com/fullbridge" class="link external" target="_blank">Click Here to Launch the Assessment</a>.</li>
                                        <li>
                                            Follow the on-screen prompts.
                                            <ol>
                                                <li>Enter your email address</li>
                                                <li>You may select your own password</li>
                                                <li>Enter the promo code <strong>fullbridge</strong></li>
                                            </ol>
                                        </li>
                                        <li>Complete the assessment (approx. 20 minutes).</li>
                                        <li>Download, save, and review your results.</li>
                                    </ol>
                                    <p>You can return to your assessment at any time by following the original link and entering your email and password. If you need to stop mid-assessment, returning to the site later will allow you to resume where you left off.</p>
                                    <h3>Using the MBTI</h3>
                                    <p>Whether you have taken the MBTI before or are taking it for the first time, in this Program, you will use the results in a unique way that will help you be a strong, contributing team member while improving your own self-awareness.</p>
                                    <p>Please upload the PDF results of your MBTI assessment to the submissions system below.</p>
                                    <form class="form">
                                        <fieldset>
                                            <legend>Select your MBTI type</legend>
                                            <div class="row">
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ISTJ
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ISFJ
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ISTP
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ISFP
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            INFJ
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            INTJ
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            INFP
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            INTP
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ESTP
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ESFP
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ESTJ
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ESFJ
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ENFP
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ENTP
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ENFJ
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="large-3 small-6 columns">
                                                    <label class="label expand">
                                                        <input type="radio" name="mbti-type">
                                                        <div class="text">
                                                            ENTJ
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="alert-box info block">
                                            <p><span class="icon-info"></span> This is a Foundation Exercise. Please ensure you submit your answer before proceeding. This exercise does not contribute to any of your Competency Scores.</p>
                                        </div>
                                        <div class="block">
                                            <ul class="button-group">
                                                <li><a href="javascript:" class="button primary"
                                                    data-anijs="if: click, do: $addClass open, to: #modal-saved;">Save</a></li>
                                                <li><a href="javascript:" class="button primary">&laquo;</a></li>
                                                <li><a href="javascript:" class="button primary"
                                                    data-anijs="if: click, do: $addClass open, to: #modal-warning;">&raquo;</a></li>
                                                <li class="end">
                                                    <a href="javascript:" class="button primary"
                                                        data-anijs="if: click, do: $removeClass primary;
                                                                    if: click, do: $addClass success;
                                                                    if: click, do: $addClass open, to: #modal-success;"><span class="icon-check"></span> Complete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>

        <!-- Modals -->
        <div id="modal-success" class="reveal-modal" aria-labelledby="Modal" aria-hidden="true" role="dialog">
            <div class="row">
                <div class="medium-6 small-12 small-centered column">
                    <div class="reveal alert-box success">
                        <header>
                            <span class="icon-check"></span> Congratulations
                        </header>
                        <p>
                            You've completed The MBTI Assessment: TypeCoach Verifier!
                        </p>
                        <ul class="actions">
                            <li>
                                <a href="javascript:">Continue</a>
                            </li>
                        </ul>
                        <a href="javascript:" class="close"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-warning" class="reveal-modal" aria-labelledby="Modal" aria-hidden="true" role="dialog">
            <div class="row">
                <div class="medium-6 small-12 small-centered column">
                    <div class="reveal alert-box warning">
                        <header>
                            <span class="icon-info"></span> Sorry, not yet
                        </header>
                        <p>
                            You have to finish the exercise before moving on.
                        </p>
                        <a href="javascript:" class="close"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-saved" class="overlay top flush-right" aria-labelledby="Modal" aria-hidden="true" role="dialog">
            <div class="alert-box success">
                <header>
                    <span class="icon-check"></span> Exercise progress saved
                </header>
                <a href="javascript:" class="close"
                    data-anijs="if: click, do: $removeClass open, to: #modal-4;"></a>
            </div>
        </div>

    {% include bottom.html %}