---
title: Calendar view
description: 
canonical: 
direction: 
nav-position: fixed
nav-progress: with-progress
nav-program-exit: 
subnav-position: fixed
pin-program: current
pin-program-calendar: current
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include menu-bar-participant.html %}

        <main class="content">
            {% include subnav-participant.html %}
            <div class="content-body">
                <div class="wrapper">
                    <div class="block double">
                        <h1>Goodwin Procter: Business Fundamentals <span class="duration">10 hr 45 min</span></h1>
                        <div class="row">
                            <div class="pull-0 column">
                                <div class="block">
                                    <div class="pagination small" aria-label="Pagination">
                                        <a rel="prev" href="javascript:">&laquo;</a>
                                        <em class="current">July</em>
                                        <a rel="next" href="javascript:">&raquo;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="push-0 column">
                                <div class="block">
                                    <ul class="button-group">
                                        <li><a href="javascript:" class="button primary small">Today</a></li>
                                        <li>
                                            <div class="drop down flush-right short">
                                                <a href="javascript:" class="button primary split small">
                                                    Add
                                                </a>
                                                <ul class="bubble">
                                                    <li><a href="javascript:">Meeting</a></li>
                                                    <li><a href="javascript:">Reminder</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="calendar-month">
                                <div class="week">
                                    <div class="day previous-month">
                                        <div class="number">31</div>
                                    </div>
                                    <div class="day today">
                                        <div class="number">1</div>
                                        <ol class="units">
                                            <li></li>
                                        </ol>
                                    </div>
                                    <div class="day">
                                        <div class="number">2</div>
                                        <ol class="units">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ol>
                                    </div>
                                    <div class="day">
                                        <div class="number">3</div>
                                        <ol class="units">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ol>
                                    </div>
                                    <div class="day">
                                        <div class="number">4</div>
                                        <ol class="units">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ol>
                                    </div>
                                    <div class="day">
                                        <div class="number">5</div>
                                        <ol class="units">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ol>
                                    </div>
                                    <div class="day">
                                        <div class="number">6</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}

    {% include bottom.html %}