---
title: Participant Program
description: 
canonical: 
direction: 
nav-position: fixed
nav-progress: with-progress
nav-program-exit: 
subnav-position: fixed
pin-program: current
pin-program-overview: current
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include nav-participant.html %}

        <main class="content">
            {% include subnav-participant.html %}
            <header class="content-header">
                <div class="wrapper">
                    <div class="summary program">
                        <div class="row">
                            <div class="medium-3 small-4 columns thumbnail">
                                <figure>
                                    <img src="/img/logo-goodwin-procter.jpg" alt="Fullbridge">
                                </figure>
                            </div>
                            <div class="medium-9 small-12 columns description">
                                <h1>Goodwin Procter: Business Fundamentals <span class="duration">10 hr 45 min</span></h1>
                                <p>The Goodwin Procter program is intended for blah blah blah. More details in Greek mumble jumbles. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
                                <h6>What&rsquo;s for today?</h6>
                                <p>Individual Exercise: Knowing Your Style: MBTI <span class="duration">40 min</span></p>
                                <p><a href="pod.html" class="button primary">Resume <span class="icon-arrow-forward"></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <article class="row">
                <div class="medium-10 small-centered columns">
                    <div class="row">
                        <div class="column">
                            <ol class="units-list">
                                <li class="date-divider">
                                    <span>Pre-work</span>
                                </li>
                                <li class="done">
                                    <div class="summary unit row">
                                        <div class="large-2 medium-2 small-3 columns thumbnail">
                                            <figure>
                                                <img src="http://www.fillmurray.com/500/500" alt="Fullbridge">
                                            </figure>
                                        </div>
                                        <div class="large-6 medium-10 small-12 columns description">
                                            <h2>Finance Diagnostic</h2>
                                            <p>Complete this non-graded, non-scored exercise to help the Fullbridge Team get a better understanding of your current knowledge of financial analysis and Excel.</p>
                                            <p><a href="javascript:" class="button success small"><span class="icon-check"></span> Completed</a></p>
                                        </div>
                                        <div class="large-4 medium-10 small-12 columns">
                                            <div class="side-nav block">
                                                <nav role="navigation" title="Unit 1">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:" class="done open"><div class="arrow"></div> 1 of 1 section complete</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:" class="done">Individual Exercise: Finance Diagnostic <span class="duration">90 min</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="block">
                                                <div class="progress">
                                                    <span class="meter success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="date-divider">
                                    <span>Monday, May 15</span>
                                </li>
                                <li>
                                    <div class="summary unit row">
                                        <div class="large-2 medium-2 small-3 columns thumbnail">
                                            <figure>
                                                <img src="http://www.fillmurray.com/450/450" alt="Fullbridge">
                                            </figure>
                                        </div>
                                        <div class="large-6 medium-10 small-12 columns description">
                                            <h2>Welcome</h2>
                                            <p>Welcome to the Fullbridge Program. This unit introduces you to the Fullbridge Program. Expectations and parameters are set, and you gain some experience in the Fullbridge style of working.</p>
                                            <p><a href="javascript:" class="button primary small">Resume</a></p>
                                        </div>
                                        <div class="large-4 medium-10 small-12 columns">
                                            <div class="side-nav block">
                                                <nav role="navigation" title="Unit 1">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:" class="open"><div class="arrow"></div> 2 of 4 sections complete</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:" class="done">Welcome, Competencies, and Traits <span class="duration">25 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="done">Individual Exercise: Fullbridge Program Goals <span class="duration">30 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="">Individual Exercise: Knowing Your Style: MBTI <span class="duration">40 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Professionalism <span class="duration">25 min</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="block">
                                                <div class="progress">
                                                    <span class="meter success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="summary unit row">
                                        <div class="large-2 medium-2 small-3 columns thumbnail">
                                            <figure>
                                                <img src="http://www.fillmurray.com/600/600" alt="Bill Murray!">
                                            </figure>
                                        </div>
                                        <div class="large-6 medium-10 small-12 columns description">
                                            <h2>Self-Awareness and Communication</h2>
                                            <p>This unit introduces the program and sets expectations and goals. You start by focusing on self-awareness and then move into interpersonal emotional intelligence.</p>
                                            <p><a href="javascript:" class="button disabled small">Start</a></p>
                                        </div>
                                        <div class="large-4 medium-10 small-12 columns">
                                            <div class="side-nav block">
                                                <nav role="navigation" title="Unit 1">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:" class="unavailable open"><div class="arrow"></div> 0 of 2 sections complete</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Team Exercise: Self and Social Awareness <span class="duration">45 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Individual Exercise: Communicating with Impact <span class="duration">45 min</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="date-divider">
                                    <span>Tuesday, May 16</span>
                                </li>
                                <li>
                                    <div class="summary unit row">
                                        <div class="large-2 medium-2 small-3 columns thumbnail">
                                            <figure>
                                                <img src="https://placekitten.com/g/600" alt="Kitten!">
                                            </figure>
                                        </div>
                                        <div class="large-6 medium-10 small-12 columns description">
                                            <h2>Intro to Effective Presentation</h2>
                                            <p>In this unit, you will learn the art of effective presentations. The focus is on how to structure an argument, build a document, set up a productive meeting, and effectively communicate a message.</p>
                                            <p><a href="javascript:" class="button disabled small">Start</a></p>
                                        </div>
                                        <div class="large-4 medium-10 small-12 columns">
                                            <div class="side-nav block">
                                                <nav role="navigation" title="Unit 1">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:" class="unavailable open"><div class="arrow"></div> 0 of 3 sections complete</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Team Exercise: Top Down Thinking <span class="duration">60 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Team Exercise: Structuring Your Thoughts <span class="duration">30 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Team Exercise: Email Communication in a Business Context <span class="duration">60 min</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="date-divider">
                                    <span>Wednesday, May 17</span>
                                </li>
                                <li>
                                    <div class="summary unit row">
                                        <div class="large-2 medium-2 small-3 columns thumbnail">
                                            <figure>
                                                <img src="https://placekitten.com/g/500" alt="Kitten!">
                                            </figure>
                                        </div>
                                        <div class="large-6 medium-10 small-12 columns description">
                                            <h2>Fullbridge Excel Tutorial</h2>
                                            <p>This unit teaches you the basics of Excel, building a base for improving your mastery of this tool over the course of the Program.</p>
                                            <p><a href="javascript:" class="button disabled small">Start</a></p>
                                        </div>
                                        <div class="large-4 medium-10 small-12 columns">
                                            <div class="side-nav block">
                                                <nav role="navigation" title="Unit 1">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:" class="unavailable open"><div class="arrow"></div> 0 of 5 sections complete</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Excel Basics <span class="duration">60 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Interactive Spreadsheet Practice I <span class="duration">30 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Formulas and Functions <span class="duration">60 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Charts in Excel <span class="duration">30 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Interactive Spreadsheet Practice II <span class="duration">60 min</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="summary unit row">
                                        <div class="large-2 medium-2 small-3 columns thumbnail">
                                            <figure>
                                                <img src="https://placekitten.com/g/450" alt="Kitten!">
                                            </figure>
                                        </div>
                                        <div class="large-6 medium-10 small-12 columns description">
                                            <h2>Effective Teamwork</h2>
                                            <p>In this unit, you will continue to build emotional intelligence by exploring the process of building teams and working effectively within them. Your learning culminates in a team simulation exercise.</p>
                                            <p><a href="javascript:" class="button disabled small">Start</a></p>
                                        </div>
                                        <div class="large-4 medium-10 small-12 columns">
                                            <div class="side-nav block">
                                                <nav role="navigation" title="Unit 1">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:" class="unavailable open"><div class="arrow"></div> 0 of 3 sections complete</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Team Exercise: Successful Teams <span class="duration">45 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Marooned Team Exercises: Interactive Simulation <span class="duration">120 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Becoming a Dynamic Team Member <span class="duration">60 min</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="summary unit row">
                                        <div class="large-2 medium-2 small-3 columns thumbnail">
                                            <figure>
                                                <img src="https://placekitten.com/g/650" alt="Kitten!">
                                            </figure>
                                        </div>
                                        <div class="large-6 medium-10 small-12 columns description">
                                            <h2>Presenting Your Ideas</h2>
                                            <p>In this exercise-driven unit, you concentrate on building an argument using Top Down Thinking. The focus is on constructing powerful communications.</p>
                                            <p><a href="javascript:" class="button disabled small">Start</a></p>
                                        </div>
                                        <div class="large-4 medium-10 small-12 columns">
                                            <div class="side-nav block">
                                                <nav role="navigation" title="Unit 1">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:" class="open unavailable"><div class="arrow"></div> 0 of 4 sections complete</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Presenting with PowerPoint <span class="duration">30 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Team Exercise: Showing Data Effectively <span class="duration">105 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Individual Exercise: Effective Oral Presentation <span class="duration">90 min</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Creating Engaging Communication <span class="duration">15 min</span></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <input type="hidden" 
                                    data-anijs="if: click, on: .side-nav nav>ul>li>a, do: $toggleClass open, to: target;">
                            </ol>
                        </div>
                    </div>
                </div>
            </article>
        </main>

        <!--<div class="block">
            <fieldset>
                <legend>Pick a calendar</legend>
                <label class="label expand">
                    <div class="select">
                        <select>
                            <option selected>Coach calendar</option>
                            <option>Participant calendar</option>
                        </select>
                    </div>
                </label>
            </fieldset>
        </div>-->

    {% include bottom.html %}