---
title: Calendar view
description: 
canonical: 
direction: 
nav-position: fixed
nav-progress: with-progress
nav-program-exit: 
subnav-position: fixed
pin-program: current
pin-program-calendar: current
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include menu-bar-participant.html %}

        <main class="content">
            {% include subnav-participant.html %}
            <div class="content-body">
                <div class="wrapper">
                    <div class="block double">
                        <div class="row">
                            <div class="pull-0 column">
                                <div class="pagination small" aria-label="Pagination">
                                    <a rel="prev" href="javascript:">&laquo;</a>
                                    <em class="current">July</em>
                                    <a rel="next" href="javascript:">&raquo;</a>
                                </div>
                            </div>
                            <div class="push-0 column">
                                <ul class="button-group">
                                    <li><a href="javascript:" class="button primary small">Today</a></li>
                                    <li>
                                        <div class="drop down flush-right short">
                                            <a href="javascript:" class="button primary split small">
                                                Add
                                            </a>
                                            <ul class="bubble">
                                                <li><a href="javascript:">Meeting</a></li>
                                                <li><a href="javascript:">Reminder</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div class="block double">
                                    <div class="calendar-month">
                                        <header class="titles">
                                            <ul class="day-of-week">
                                                <li>Sun</li>
                                                <li>Mon</li>
                                                <li>Tue</li>
                                                <li>Wed</li>
                                                <li>Thu</li>
                                                <li>Fri</li>
                                                <li>Sat</li>
                                            </ul>
                                        </header>
                                        <div class="week">
                                            <div class="day previous-month">
                                                <div class="number">31</div>
                                            </div>
                                            <div class="day today">
                                                <div class="number">1</div>
                                                <ol class="units">
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day current">
                                                <div class="number">2</div>
                                                <ol class="units">
                                                    <li></li>
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day">
                                                <div class="number">3</div>
                                                <ol class="units">
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day">
                                                <div class="number">4</div>
                                                <ol class="units">
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day">
                                                <div class="number">5</div>
                                                <ol class="units">
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day">
                                                <div class="number">6</div>
                                            </div>
                                        </div>
                                        <div class="events-today">
                                            <div class="row">
                                                <div class="medium-8 columns">
                                                    <h6>To-do</h6>
                                                    <div class="block">
                                                        <div class="units-list">
                                                            <ol style="counter-reset: item+1;">
                                                                <li>
                                                                    <a href="pod.html" class="current">Welcome</a>
                                                                    <ol>
                                                                        <li>
                                                                            <a href="javascript:" class="done">Welcome, Competencies, and Traits <span class="duration">25 min</span></a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:" class="done">Fullbridge Program Goals <span class="duration">30 min</span></a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="pod.html" class="current">Knowing Your Style: MBTI <span class="duration">40 min</span></a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:" class="unavailable">Professionalism <span class="duration">25 min</span></a>
                                                                        </li>
                                                                    </ol>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" class="unavailable">Self-Awareness and Communication</a>
                                                                    <ol>
                                                                        <li>
                                                                            <a href="javascript:" class="unavailable">Self and Social Awareness <span class="duration">45 min</span></a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:" class="unavailable">Communicating with Impact <span class="duration">45 min</span></a>
                                                                        </li>
                                                                    </ol>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="medium-4 columns">
                                                    <h6>Reminders</h6>
                                                    <ul>
                                                        <li><strong>Due at 9:00 AM:</strong> Pre-work</li>
                                                    </ul>
                                                </div>
                                                <a class="close" href="javascript:"></a>
                                            </div>
                                        </div>
                                        <div class="week">
                                            <div class="day">
                                                <div class="number">7</div>
                                            </div>
                                            <div class="day">
                                                <div class="number">8</div>
                                                <ol class="units">
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day">
                                                <div class="number">9</div>
                                                <ol class="units">
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day">
                                                <div class="number">10</div>
                                                <ol class="units">
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day">
                                                <div class="number">11</div>
                                                <ol class="units">
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day">
                                                <div class="number">12</div>
                                                <ol class="units">
                                                    <li></li>
                                                    <li></li>
                                                    <li></li>
                                                </ol>
                                            </div>
                                            <div class="day">
                                                <div class="number">13</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}

    {% include bottom.html %}