---
title: List view
description: 
canonical: 
direction: 
nav-position: fixed
nav-progress: with-progress
subnav-position: fixed
pin-program: current
pin-program-list: current
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include menu-bar-participant.html %}

        <main class="content">
            {% include subnav-participant.html %}
            <div class="content-body">
                <div class="wrapper">
                    <div class="block double">
                        <div class="units-list">
                            <ol>
                                <div class="divider">
                                    <span>Pre-work</span>
                                </div>
                                <li>
                                    <a href="javascript:" class="done">Finance Diagnostic</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="done">Finance Diagnostic</a><span class="duration">1.5 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="done">Individual Exercise &raquo; Pod Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <div class="divider">
                                    <span>Program content</span>
                                </div>
                                <li>
                                    <a href="pod.html" class="current">Welcome</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="done">Welcome, Competencies, and Traits</a><span class="duration">25 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="done">Video &raquo; Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="done">Individual Exercise &raquo; Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="done">Team Exercise &raquo; Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="done">Fullbridge Program Goals</a><span class="duration">30 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="done">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="done">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="done">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="pod.html" class="current">Knowing Your Style: MBTI</a><span class="duration">40 min</span>
                                            <ol>
                                                <li>
                                                    <a href="pod.html" class="current">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Professionalism</a><span class="duration">25 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="javascript:" class="unavailable">Self-Awareness and Communication</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Self and Social Awareness</a><span class="duration">45 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Communicating with Impact</a><span class="duration">45 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="javascript:" class="unavailable">Intro to Effective Presentation</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Top Down Thinking</a><span class="duration">1 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Structuring Your Thoughts</a><span class="duration">30 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Email Communication in a Business Context</a><span class="duration">1 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="javascript:" class="unavailable">Fullbridge Excel Tutorial</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Excel Basics</a><span class="duration">1 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Interactive Spreadsheet Practice I</a><span class="duration">30 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Formulas and Functions</a><span class="duration">1 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Charts in Excel</a><span class="duration">30 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Interactive Spreadsheet Practice II</a><span class="duration">1 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="javascript:" class="unavailable">Effective Teamwork</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Successful Teams</a><span class="duration">45 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Marooned Team Exercises: Interactive Simulation</a><span class="duration">2 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Becoming a Dynamic Team Member</a><span class="duration">1 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="javascript:" class="unavailable">Presenting Your Ideas</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Presenting with PowerPoint</a><span class="duration">30 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Showing Data Effectively</a><span class="duration">1.8 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Effective Oral Presentation</a><span class="duration">1.5 hr</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Creating Engaging Communication</a><span class="duration">15 min</span>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}

    {% include bottom.html %}