---
title: List view
description: 
canonical: 
direction: 
nav-position: fixed
nav-progress: with-progress
nav-program-exit: 
subnav-position: fixed
pin-program: current
pin-program-list: current
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include menu-bar-participant.html %}

        <main class="content">
            {% include subnav-participant.html %}
            <div class="content-body">
                <div class="wrapper">
                    <div class="block double">
                        <h1>Goodwin Procter: Business Fundamentals <span class="duration">10 hr 45 min</span></h1>
                        <div class="units-list">
                            <ol>
                                <div class="divider"><span>Pre-work</span></div>
                                <li>
                                    <a href="javascript:" class="done">Finance Diagnostic</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="done">Finance Diagnostic <span class="duration">90 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="done">Individual Exercise &raquo; Pod Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <div class="divider"><span>Day 1</span></div>
                                <li>
                                    <a href="pod.html" class="current">Welcome</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="done">Welcome, Competencies, and Traits <span class="duration">25 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="done">Video &raquo; Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="done">Individual Exercise &raquo; Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="done">Team Exercise &raquo; Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="done">Fullbridge Program Goals <span class="duration">30 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="done">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="done">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="done">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="pod.html" class="current">Knowing Your Style: MBTI <span class="duration">40 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="pod.html" class="current">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Professionalism <span class="duration">25 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="javascript:" class="unavailable">Self-Awareness and Communication</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Self and Social Awareness <span class="duration">45 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Communicating with Impact <span class="duration">45 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <div class="divider"><span>Day 2</span></div>
                                <li>
                                    <a href="javascript:" class="unavailable">Intro to Effective Presentation</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Top Down Thinking <span class="duration">60 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Structuring Your Thoughts <span class="duration">30 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Email Communication in a Business Context <span class="duration">60 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <div class="divider"><span>Day 3</span></div>
                                <li>
                                    <a href="javascript:" class="unavailable">Fullbridge Excel Tutorial</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Excel Basics <span class="duration">60 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Interactive Spreadsheet Practice I <span class="duration">30 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Formulas and Functions <span class="duration">60 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Charts in Excel <span class="duration">30 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Interactive Spreadsheet Practice II <span class="duration">60 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="javascript:" class="unavailable">Effective Teamwork</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Successful Teams <span class="duration">45 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Marooned Team Exercises: Interactive Simulation <span class="duration">120 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Becoming a Dynamic Team Member <span class="duration">60 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <a href="javascript:" class="unavailable">Presenting Your Ideas</a>
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="unavailable">Presenting with PowerPoint <span class="duration">30 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Showing Data Effectively <span class="duration">105 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Effective Oral Presentation <span class="duration">90 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="unavailable">Creating Engaging Communication <span class="duration">15 min</span></a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 1 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 2 Title</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="unavailable">Pod 3 Title</a>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}

    {% include bottom.html %}