---
title: Navigations
description: 
canonical: 
direction: 
---
    {% include head.html %}

        {% include outdated-browser.html %}

        <main class="content">
            <div class="row">
                <div class="column">
                    <h2>Editor nav</h2>
                    <h3>Standard mode</h3>
                    <h5>Library</h5>
                    <div class="block">
                        <nav class="menu-bar">
                            <a href="javascript:" class="logo"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
                            <div class="admin-select">
                                <div class="drop down flush-left short">
                                    <span class="button">
                                        Editor
                                    </span>
                                    <ul class="bubble">
                                        <li><a href="javascript:">Editor</a></li>
                                        <li><a href="javascript:">Program manager</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="utilities">
                                <ul class="button-group">
                                    <li class="notifications">
                                        <div class="drop">
                                            <span class="button icon-notifications"><span class="counter">2</span></span>
                                        </div>
                                    </li>
                                    <li class="user-settings">
                                        <div class="drop">
                                            <div class="button">
                                                <label class="profile-photo-edit">
                                                    <input type="file">
                                                    <span class="photo"></span>
                                                </label>
                                                <span class="name">Hello, Ben Cassidy</span>
                                            </div>
                                            <ul class="bubble">
                                                <div class="mini-profile">
                                                    <div class="thumbnail">
                                                        <label class="profile-photo-edit">
                                                            <input type="file">
                                                            <span class="photo"></span>
                                                        </label>
                                                    </div>
                                                    <div class="description">
                                                        <h5>Ben Cassidy</h5>
                                                        <div class="involvements">
                                                            <span class="type">Editor</span>
                                                        </div>
                                                        <div class="email">
                                                            name@fullbridge.com
                                                        </div>
                                                    </div>
                                                </div>
                                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-2">
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-library"></span> <span class="label-text">Library</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Programs</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li class="current"><a href="javascript:">Templates</a></li>
                                    <li><a href="javascript:">Exercises</a></li>
                                    <li><a href="javascript:">Badges</a></li>
                                    <li><a href="javascript:">Competencies</a></li>
                                    <li class="end"><a href="javascript:">Files</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 10em;"></div>
                    <h5>Programs</h5>
                    <div class="block">
                        <nav class="menu-bar">
                            <a href="javascript:" class="logo"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
                            <div class="admin-select">
                                <div class="drop down flush-left short">
                                    <span class="button">
                                        Editor
                                    </span>
                                    <ul class="bubble">
                                        <li><a href="javascript:">Editor</a></li>
                                        <li><a href="javascript:">Program manager</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="utilities">
                                <ul class="button-group">
                                    <li class="notifications">
                                        <div class="drop">
                                            <span class="button icon-notifications"><span class="counter">2</span></span>
                                        </div>
                                    </li>
                                    <li class="user-settings">
                                        <div class="drop">
                                            <div class="button">
                                                <label class="profile-photo-edit">
                                                    <input type="file">
                                                    <span class="photo"></span>
                                                </label>
                                                <span class="name">Hello, Ben Cassidy</span>
                                            </div>
                                            <ul class="bubble">
                                                <div class="mini-profile">
                                                    <div class="thumbnail">
                                                        <label class="profile-photo-edit">
                                                            <input type="file">
                                                            <span class="photo"></span>
                                                        </label>
                                                    </div>
                                                    <div class="description">
                                                        <h5>Ben Cassidy</h5>
                                                        <div class="involvements">
                                                            <span class="type">Editor</span>
                                                        </div>
                                                        <div class="email">
                                                            name@fullbridge.com
                                                        </div>
                                                    </div>
                                                </div>
                                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-2">
                                    <li>
                                        <a href="javascript:"><span class="icon-library"></span> <span class="label-text">Library</span></a>
                                    </li>
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Programs</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li><a href="javascript:">All</a></li>
                                    <li class="current"><a href="javascript:">Active</a></li>
                                    <li><a href="javascript:">Drafts</a></li>
                                    <li><a href="javascript:">Archive</a></li>
                                    <li class="end"><a href="javascript:">Add new</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 10em;"></div>
                    <h2>Program manager nav</h2>
                    <h5>Users</h5>
                    <div class="block">
                        <nav class="menu-bar">
                            <a href="javascript:" class="logo"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
                            <div class="admin-select">
                                <div class="drop down flush-left short">
                                    <span class="button">
                                        Program manager
                                    </span>
                                    <ul class="bubble">
                                        <li><a href="javascript:">Editor</a></li>
                                        <li><a href="javascript:">Program manager</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="utilities">
                                <ul class="button-group">
                                    <li class="notifications">
                                        <div class="drop">
                                            <span class="button icon-notifications"><span class="counter">2</span></span>
                                        </div>
                                    </li>
                                    <li class="user-settings">
                                        <div class="drop">
                                            <div class="button">
                                                <label class="profile-photo-edit">
                                                    <input type="file">
                                                    <span class="photo"></span>
                                                </label>
                                                <span class="name">Hello, Rick Croteau</span>
                                            </div>
                                            <ul class="bubble">
                                                <div class="mini-profile">
                                                    <div class="thumbnail">
                                                        <label class="profile-photo-edit">
                                                            <input type="file">
                                                            <span class="photo"></span>
                                                        </label>
                                                    </div>
                                                    <div class="description">
                                                        <h5>Rick Croteau</h5>
                                                        <div class="involvements">
                                                            <span class="type">Program manager</span>
                                                        </div>
                                                        <div class="email">
                                                            name@fullbridge.com
                                                        </div>
                                                    </div>
                                                </div>
                                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-2">
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-people"></span> <span class="label-text">Users</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Programs</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li class="current"><a href="javascript:">All</a></li>
                                    <li><a href="javascript:">Import CSV</a></li>
                                    <li class="end"><a href="javascript:">Add new</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 10em;"></div>
                    <h5>Programs</h5>
                    <div class="block">
                        <nav class="menu-bar">
                            <a href="javascript:" class="logo"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
                            <div class="admin-select">
                                <div class="drop down flush-left short">
                                    <span class="button">
                                        Program manager
                                    </span>
                                    <ul class="bubble">
                                        <li><a href="javascript:">Editor</a></li>
                                        <li><a href="javascript:">Program manager</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="utilities">
                                <ul class="button-group">
                                    <li class="notifications">
                                        <div class="drop">
                                            <span class="button icon-notifications"><span class="counter">2</span></span>
                                        </div>
                                    </li>
                                    <li class="user-settings">
                                        <div class="drop">
                                            <div class="button">
                                                <label class="profile-photo-edit">
                                                    <input type="file">
                                                    <span class="photo"></span>
                                                </label>
                                                <span class="name">Hello, Rick Croteau</span>
                                            </div>
                                            <ul class="bubble">
                                                <div class="mini-profile">
                                                    <div class="thumbnail">
                                                        <label class="profile-photo-edit">
                                                            <input type="file">
                                                            <span class="photo"></span>
                                                        </label>
                                                    </div>
                                                    <div class="description">
                                                        <h5>Rick Croteau</h5>
                                                        <div class="involvements">
                                                            <span class="type">Program manager</span>
                                                        </div>
                                                        <div class="email">
                                                            name@fullbridge.com
                                                        </div>
                                                    </div>
                                                </div>
                                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-2">
                                    <li>
                                        <a href="javascript:"><span class="icon-people"></span> <span class="label-text">Users</span></a>
                                    </li>
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Programs</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li><a href="javascript:">All</a></li>
                                    <li class="current"><a href="javascript:">Active</a></li>
                                    <li><a href="javascript:">Drafts</a></li>
                                    <li><a href="javascript:">Archive</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 10em;"></div>
                    <h2>Program viewing mode for admin (editor or program manager)</h2>
                    <h5>Looking at a specific program</h5>
                    <div class="block">
                        <nav class="menu-bar">
                            <a href="javascript:" class="logo"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
                            <div class="program-select">
                                <a href="javascript:" class="button">
                                    <span class="icon-close"></span> Exit program mode
                                </a>
                            </div>
                            <div class="utilities">
                                <ul class="button-group">
                                    <li class="notifications">
                                        <div class="drop">
                                            <span class="button icon-notifications"><span class="counter">99</span></span>
                                        </div>
                                    </li>
                                    <li class="user-settings">
                                        <div class="drop">
                                            <div class="button">
                                                <label class="profile-photo-edit">
                                                    <input type="file">
                                                    <span class="photo"></span>
                                                </label>
                                                <span class="name">Hello, Cori Allen</span>
                                            </div>
                                            <ul class="bubble">
                                                <div class="mini-profile">
                                                    <div class="thumbnail">
                                                        <label class="profile-photo-edit">
                                                            <input type="file">
                                                            <span class="photo"></span>
                                                        </label>
                                                    </div>
                                                    <div class="description">
                                                        <h5>Cori Allen</h5>
                                                        <div class="involvements">
                                                            <span class="type">Editor</span>
                                                            <span class="type">Program manager</span>
                                                        </div>
                                                        <div class="email">
                                                            name@fullbridge.com
                                                        </div>
                                                    </div>
                                                </div>
                                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div style="height: 10em;"></div>
                    <h2>Participant nav</h2>
                    <h5>Program</h5>
                    <div class="block">
                        {% include menu-bar-participant.html %}
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-3">
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Program</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-grades"></span> <span class="label-text">Grades</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-people"></span> <span class="label-text">Community</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li class="current"><a href="javascript:">Overview</a></li>
                                    <li><a href="javascript:">Calendar</a></li>
                                    <li><a href="javascript:">List</a></li>
                                    <li class="end"><a href="javascript:">Files</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 10em;"></div>
                    <h5>Grades</h5>
                    <div class="block">
                        {% include menu-bar-participant.html %}
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-3">
                                    <li>
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Program</span></a>
                                    </li>
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-grades"></span> <span class="label-text">Grades</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-people"></span> <span class="label-text">Community</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li class="current"><a href="javascript:">Exercises</a></li>
                                    <li><a href="javascript:">Competencies</a></li>
                                    <li><a href="javascript:">Badges</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 10em;"></div>
                    <h5>Community</h5>
                    <div class="block">
                        {% include menu-bar-participant.html %}
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-3">
                                    <li>
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Program</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-grades"></span> <span class="label-text">Grades</span></a>
                                    </li>
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-people"></span> <span class="label-text">Community</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li class="current"><a href="javascript:">Participants</a></li>
                                    <li><a href="javascript:">Coaches</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 10em;"></div>
                    <h2>Coach nav</h2>
                    <h5>Grades</h5>
                    <div class="block">
                        <nav class="menu-bar">
                            <a href="javascript:" class="logo"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
                            <div class="program-select">
                                <div class="drop down">
                                    <span class="button">
                                        <span class="icon-more-vert"></span> Fullbridge Professional Edge at Holy Cross
                                    </span>
                                    <ul class="bubble collapse">
                                        <ol class="list">
                                            <li>
                                                <a href="javascript:" class="see-all">
                                                    My programs <span class="counter follow">2</span>
                                                </a>
                                                <a href="javascript:" class="mark-all">
                                                    Browse more
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:">
                                                    <span class="program-title">Getting Started with Fullbridge</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:">
                                                    <span class="program-title current">Fullbridge Professional Edge at Holy Cross</span>
                                                </a>
                                            </li>
                                        </ol>
                                    </ul>
                                </div>
                            </div>
                            <div class="utilities">
                                <ul class="button-group">
                                    <li class="messages">
                                        <div class="drop">
                                            <span class="button icon-message"></span>
                                            <div class="bubble collapse">
                                                <ol class="list">
                                                    <li>
                                                        <a href="javascript:" class="see-all">
                                                            Messages
                                                        </a>
                                                        <a href="javascript:" class="mark-all">
                                                            Mark all as read
                                                        </a>
                                                    </li>
                                                    <li class="unread">
                                                        <a href="javascript:">
                                                            <p>You have not received any messages yet.</p>
                                                        </a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="notifications">
                                        <div class="drop">
                                            <span class="button icon-notifications"></span>
                                            <div class="bubble collapse">
                                                <ol class="list">
                                                    <li>
                                                        <a href="javascript:" class="see-all">
                                                            Notifications
                                                        </a>
                                                        <a href="javascript:" class="mark-all">
                                                            Mark all as read
                                                        </a>
                                                    </li>
                                                    <li class="unread">
                                                        <a href="javascript:">
                                                            <p>Woohoo, you are all caught up!</p>
                                                        </a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="user-settings">
                                        <div class="drop">
                                            <div class="button">
                                                <label class="profile-photo-edit">
                                                    <input type="file">
                                                    <span class="photo"><img src="http://www.placekitten.com/114/114" alt="Jim Pautz"></span>
                                                </label>
                                                <span class="name">Hello, Jim Pautz</span>
                                            </div>
                                            <ul class="bubble">
                                                <div class="mini-profile">
                                                    <div class="thumbnail">
                                                        <label class="profile-photo-edit">
                                                            <input type="file">
                                                            <span class="photo"><img src="http://www.placekitten.com/114/114" alt="Jim Pautz"></span>
                                                        </label>
                                                    </div>
                                                    <div class="description">
                                                        <h5>Jim Pautz</h5>
                                                        <div class="involvements">
                                                            <span class="type">Coach</span>
                                                        </div>
                                                        <div class="email">
                                                            name@fullbridge.com
                                                        </div>
                                                    </div>
                                                </div>
                                                <li><span class="icon-person"></span> <a href="javascript:">Profile</a></li>
                                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-3">
                                    <li>
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Program</span></a>
                                    </li>
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-grades"></span> <span class="label-text">Grades</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-people"></span> <span class="label-text">Community</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li class="current"><a href="javascript:">Team 1</a></li>
                                    <li><a href="javascript:">Team 2</a></li>
                                    <li><a href="javascript:">Team 3</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 10em;"></div>
                    <h5>Program</h5>
                    <div class="block">
                        <nav class="menu-bar">
                            <a href="javascript:" class="logo"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
                            <div class="program-select">
                                <div class="drop down">
                                    <span class="button">
                                        <span class="icon-more-vert"></span> Fullbridge Professional Edge at Holy Cross
                                    </span>
                                    <ul class="bubble collapse">
                                        <ol class="list">
                                            <li>
                                                <a href="javascript:" class="see-all">
                                                    My programs <span class="counter follow">2</span>
                                                </a>
                                                <a href="javascript:" class="mark-all">
                                                    Browse more
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:">
                                                    <span class="program-title">Getting Started with Fullbridge</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:">
                                                    <span class="program-title current">Fullbridge Professional Edge at Holy Cross</span>
                                                </a>
                                            </li>
                                        </ol>
                                    </ul>
                                </div>
                            </div>
                            <div class="utilities">
                                <ul class="button-group">
                                    <li class="messages">
                                        <div class="drop">
                                            <span class="button icon-message"></span>
                                            <div class="bubble collapse">
                                                <ol class="list">
                                                    <li>
                                                        <a href="javascript:" class="see-all">
                                                            Messages
                                                        </a>
                                                        <a href="javascript:" class="mark-all">
                                                            Mark all as read
                                                        </a>
                                                    </li>
                                                    <li class="unread">
                                                        <a href="javascript:">
                                                            <p>You have not received any messages yet.</p>
                                                        </a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="notifications">
                                        <div class="drop">
                                            <span class="button icon-notifications"></span>
                                            <div class="bubble collapse">
                                                <ol class="list">
                                                    <li>
                                                        <a href="javascript:" class="see-all">
                                                            Notifications
                                                        </a>
                                                        <a href="javascript:" class="mark-all">
                                                            Mark all as read
                                                        </a>
                                                    </li>
                                                    <li class="unread">
                                                        <a href="javascript:">
                                                            <p>Woohoo, you are all caught up!</p>
                                                        </a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="user-settings">
                                        <div class="drop">
                                            <div class="button">
                                                <label class="profile-photo-edit">
                                                    <input type="file">
                                                    <span class="photo"><img src="http://www.placekitten.com/114/114" alt="Jim Pautz"></span>
                                                </label>
                                                <span class="name">Hello, Jim Pautz</span>
                                            </div>
                                            <ul class="bubble">
                                                <div class="mini-profile">
                                                    <div class="thumbnail">
                                                        <label class="profile-photo-edit">
                                                            <input type="file">
                                                            <span class="photo"><img src="http://www.placekitten.com/114/114" alt="Jim Pautz"></span>
                                                        </label>
                                                    </div>
                                                    <div class="description">
                                                        <h5>Jim Pautz</h5>
                                                        <div class="involvements">
                                                            <span class="type">Coach</span>
                                                        </div>
                                                        <div class="email">
                                                            name@fullbridge.com
                                                        </div>
                                                    </div>
                                                </div>
                                                <li><span class="icon-person"></span> <a href="javascript:">Profile</a></li>
                                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-3">
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Program</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-grades"></span> <span class="label-text">Grades</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-people"></span> <span class="label-text">Community</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li class="current"><a href="javascript:">Overview</a></li>
                                    <li><a href="javascript:">Calendar</a></li>
                                    <li><a href="javascript:">List</a></li>
                                    <li class="end"><a href="javascript:">Files</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 10em;"></div>
                    <h5>Community</h5>
                    <div class="block">
                        <nav class="menu-bar">
                            <a href="javascript:" class="logo"><img src="/img/logo-fb-transparent.png" alt="Fullbridge"></a>
                            <div class="program-select">
                                <div class="drop down">
                                    <span class="button">
                                        <span class="icon-more-vert"></span> Fullbridge Professional Edge at Holy Cross
                                    </span>
                                    <ul class="bubble collapse">
                                        <ol class="list">
                                            <li>
                                                <a href="javascript:" class="see-all">
                                                    My programs <span class="counter follow">2</span>
                                                </a>
                                                <a href="javascript:" class="mark-all">
                                                    Browse more
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:">
                                                    <span class="program-title">Getting Started with Fullbridge</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:">
                                                    <span class="program-title current">Fullbridge Professional Edge at Holy Cross</span>
                                                </a>
                                            </li>
                                        </ol>
                                    </ul>
                                </div>
                            </div>
                            <div class="utilities">
                                <ul class="button-group">
                                    <li class="messages">
                                        <div class="drop">
                                            <span class="button icon-message"></span>
                                            <div class="bubble collapse">
                                                <ol class="list">
                                                    <li>
                                                        <a href="javascript:" class="see-all">
                                                            Messages
                                                        </a>
                                                        <a href="javascript:" class="mark-all">
                                                            Mark all as read
                                                        </a>
                                                    </li>
                                                    <li class="unread">
                                                        <a href="javascript:">
                                                            <p>You have not received any messages yet.</p>
                                                        </a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="notifications">
                                        <div class="drop">
                                            <span class="button icon-notifications"></span>
                                            <div class="bubble collapse">
                                                <ol class="list">
                                                    <li>
                                                        <a href="javascript:" class="see-all">
                                                            Notifications
                                                        </a>
                                                        <a href="javascript:" class="mark-all">
                                                            Mark all as read
                                                        </a>
                                                    </li>
                                                    <li class="unread">
                                                        <a href="javascript:">
                                                            <p>Woohoo, you are all caught up!</p>
                                                        </a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="user-settings">
                                        <div class="drop">
                                            <div class="button">
                                                <label class="profile-photo-edit">
                                                    <input type="file">
                                                    <span class="photo"><img src="http://www.placekitten.com/114/114" alt="Jim Pautz"></span>
                                                </label>
                                                <span class="name">Hello, Jim Pautz</span>
                                            </div>
                                            <ul class="bubble">
                                                <div class="mini-profile">
                                                    <div class="thumbnail">
                                                        <label class="profile-photo-edit">
                                                            <input type="file">
                                                            <span class="photo"><img src="http://www.placekitten.com/114/114" alt="Jim Pautz"></span>
                                                        </label>
                                                    </div>
                                                    <div class="description">
                                                        <h5>Jim Pautz</h5>
                                                        <div class="involvements">
                                                            <span class="type">Coach</span>
                                                        </div>
                                                        <div class="email">
                                                            name@fullbridge.com
                                                        </div>
                                                    </div>
                                                </div>
                                                <li><span class="icon-person"></span> <a href="javascript:">Profile</a></li>
                                                <li><span class="icon-settings"></span> <a href="javascript:">Settings</a></li>
                                                <li><span class="icon-exit-to-app"></span> <a href="javascript:">Log out</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="block double">
                        <div class="subnav">
                            <nav>
                                <ul class="primary small-even-3">
                                    <li>
                                        <a href="javascript:"><span class="icon-school"></span> <span class="label-text">Program</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:"><span class="icon-grades"></span> <span class="label-text">Grades</span></a>
                                    </li>
                                    <li class="current">
                                        <a href="javascript:"><span class="icon-people"></span> <span class="label-text">Community</span></a>
                                    </li>
                                </ul>
                                <ul class="secondary">
                                    <li class="current"><a href="javascript:">Participants</a></li>
                                    <li><a href="javascript:">Coaches</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div style="height: 20em;"></div>
                </div>
            </div>
        </main>

        <!--<div class="block">
            <fieldset>
                <legend>Pick a calendar</legend>
                <label class="label expand">
                    <div class="select">
                        <select>
                            <option selected>Coach calendar</option>
                            <option>Participant calendar</option>
                        </select>
                    </div>
                </label>
            </fieldset>
        </div>-->

    {% include bottom.html %}