---
title: Client dashboard
description: 
canonical: 
direction: 
nav-position: fixed
nav-program-select: no-message
pin-dashboard: current
pin-dashboard-overview: current
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include menu-bar-client.html %}

        <main class="content">
            {% include subnav-client.html %}
            <div class="content-body">
                <div class="wrapper">
                    <div class="block double">
                        <article>
                            <section>
                                <form class="form">
                                    <fieldset>
                                        <div class="row">
                                            <div class="medium-6 columns">
                                                <div class="block">
                                                    <label class="label small expand">
                                                        <input type="date" min="2015-08-21" max="2015-09-12" value="2015-08-21">
                                                        <div class="label-text">From</div>
                                                        <div class="icon-date"></div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="medium-6 columns">
                                                <div class="block">
                                                    <label class="label small expand">
                                                        <input type="date" min="2015-08-21" max="2015-09-12" value="2015-09-12">
                                                        <div class="label-text">To</div>
                                                        <div class="icon-date"></div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </section>
                            <div class="row">
                                <div class="small-12 medium-2 columns">
                                    <section class="block double">
                                        <h6 class="collapse">Student Info</h6>
                                        <ul class="small-block-grid-2 medium-block-grid-1">
                                            <li>
                                                <div class="stats-box">
                                                    <figure>
                                                        <canvas id="stats-students" height="500" width="500"></canvas>
                                                        <div class="stat">
                                                            50
                                                        </div>
                                                    </figure>
                                                    <div class="title">
                                                        Sign ups
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="stats-box">
                                                    <figure>
                                                        <canvas id="stats-attendance" height="500" width="500"></canvas>
                                                        <div class="stat">
                                                            99<sup>%</sup>
                                                        </div>
                                                    </figure>
                                                    <div class="title">
                                                        Attendance
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="stats-box">
                                                    <figure>
                                                        <canvas id="stats-majors" height="500" width="500"></canvas>
                                                    </figure>
                                                    <div class="title">
                                                        Majors
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="block">
                                            <a href="javascript:" class="button primary tiny expand">View details</a>
                                        </div>
                                    </section>
                                </div>
                                <div class="small-12 medium-10 columns">
                                    <div class="row">
                                        <div class="small-12 medium-6 columns">
                                            <section class="block double">
                                                <h6 class="collapse">Traits</h6>
                                                <div class="block">
                                                    <div class="stats-box">
                                                        <figure>
                                                            <canvas id="stats-traits" height="250" width="500"></canvas>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <p><a href="javascript:" class="button primary tiny expand">View details</a></p>
                                            </section>
                                        </div>
                                        <div class="small-12 medium-6 columns">
                                            <section class="block double">
                                                <h6 class="collapse">Engagement</h6>
                                                <div class="block">
                                                    <canvas id="stats-engagement" height="250" width="500"></canvas>
                                                </div>
                                                <p><a href="javascript:" class="button primary tiny expand">View details</a></p>
                                            </section>
                                        </div>
                                    </div>
                                    <section class="block double">
                                        <h6 class="collapse">Competencies</h6>
                                        <div class="block">
                                            <canvas id="stats-competencies" height="250" width="500"></canvas>
                                        </div>
                                        <p><a href="javascript:" class="button primary tiny expand">View details</a></p>
                                    </section>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}

        <!-- Modals -->
        <div id="modal-1" class="reveal-modal" aria-labelledby="Modal" aria-hidden="true" role="dialog">
            <div class="row">
                <div class="small-centered small-12 medium-10 columns">
                    <div class="reveal basic">
                        <header class="reveal-label">My Programs</header>
                        <div class="row">
                            <div class="column">
                                <div class="block">
                                    <small>
                                        <div class="row">
                                            <div class="small-pull-0 column">
                                                <div class="pagination" aria-label="Pagination">
                                                    <a class="disabled" rel="prev start" href="javascript:">&laquo; <span class="text">Previous</span></a>
                                                    <em class="current">1</em>
                                                    <a rel="next" href="javascript:">2</a>
                                                    <a href="javascript:">3</a>
                                                    <a rel="next" href="javascript:"><span class="text">Next</span> &raquo;</a>
                                                </div>
                                            </div>
                                            <div class="small-push-0 column">
                                                <div class="drop down flush-right">
                                                    <p>
                                                        1&ndash;10 of 23
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </small>
                                </div>
                                <div class="block horizontal-scroll">
                                    <table class="table small">
                                        <thead>
                                            <tr>
                                                <th width="200" class="sorted descending"><span class="column-title">Table Header</span></th>
                                                <th><span class="column-title">Table Header</span></th>
                                                <th width="150"><span class="column-title">Table Header</span></th>
                                                <th width="150"><span class="column-title">Table Header</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Content Goes Here</td>
                                                <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                                                <td>Content Goes Here</td>
                                                <td>Content Goes Here</td>
                                            </tr>
                                            <tr>
                                                <td>Content Goes Here</td>
                                                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                                                <td>Content Goes Here</td>
                                                <td>Content Goes Here</td>
                                            </tr>
                                            <tr>
                                                <td>Content Goes Here</td>
                                                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                                                <td>Content Goes Here</td>
                                                <td>Content Goes Here</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Table footer</td>
                                                <td>Table footer</td>
                                                <td>Table footer</td>
                                                <td>Table footer</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:" class="close"></a>
                    </div>
                </div>
            </div>
        </div>
    {% include bottom.html %}