---
title: Client dashboard
description: 
canonical: 
direction: 
nav-position: fixed
nav-program-select: no-message
pin-dashboard: current
pin-dashboard-overview: current
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include menu-bar-client.html %}
<!--
        <main class="content">
            <div class="sidebar fixed">
                <div class="side-nav">
                    <header>
                        Program Dashboard
                    </header>
                    <nav role="navigation" title="Dashboard navigation">
                        <ul>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:" class="open"><div class="arrow"></div> Metrics</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="current">Overview</a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="">Competencies</a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="">Engagement</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:" class="open"><div class="arrow"></div> Students</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="">All</a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="">By coach</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:" class="open"><div class="arrow"></div> Resources</a>
                                <ul>
                                    <li>
                                        <a href="javascript:" class="">Tutorials</a>
                                    </li>
                                    <li>
                                        <a href="javascript:" class="">Templates</a>
                                    </li>
                                </ul>
                            </li>
                            <input type="hidden" 
                                data-anijs="if: click, on: .side-nav nav>ul>li>a, do: $toggleClass open, to: target;
                                            if: click, on: .side-nav nav>ul>li>ul>li>a:not(.unavailable), do: $removeClass current, to: .side-nav nav>ul>li>ul>li>a;
                                            if: click, on: .side-nav nav>ul>li>ul>li>a:not(.unavailable), do: $addClass current, to: target;">
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="outer-chapter">
                <article class="article">
                    <div class="row">
                        <div class="column">
                            <h1>Overview</h1>
                        </div>
                    </div>
                </article>
            </div>
        </main>
-->
        <main class="content">
            {% include subnav-client.html %}
            <div class="content-body">
                <div class="wrapper">
                    <div class="block double">
                        <h3>Engagement</h3>
                        <div class="block">
                            <canvas id="canvas" height="80" width="320"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}

        <!-- Modals -->
        <div id="modal-1" class="reveal-modal" aria-labelledby="Modal" aria-hidden="true" role="dialog">
            <div class="row">
                <div class="small-centered small-12 medium-10 columns">
                    <div class="reveal basic">
                        <header class="reveal-label">My Programs</header>
                        <div class="row">
                            <div class="column">
                                <div class="block">
                                    <small>
                                        <div class="row">
                                            <div class="small-pull-0 column">
                                                <div class="pagination" aria-label="Pagination">
                                                    <a class="disabled" rel="prev start" href="javascript:">&laquo; <span class="text">Previous</span></a>
                                                    <em class="current">1</em>
                                                    <a rel="next" href="javascript:">2</a>
                                                    <a href="javascript:">3</a>
                                                    <a rel="next" href="javascript:"><span class="text">Next</span> &raquo;</a>
                                                </div>
                                            </div>
                                            <div class="small-push-0 column">
                                                <div class="drop down flush-right">
                                                    <p>
                                                        1&ndash;10 of 23
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </small>
                                </div>
                                <div class="block horizontal-scroll">
                                    <table class="table small">
                                        <thead>
                                            <tr>
                                                <th width="200" class="sorted descending"><span class="column-title">Table Header</span></th>
                                                <th><span class="column-title">Table Header</span></th>
                                                <th width="150"><span class="column-title">Table Header</span></th>
                                                <th width="150"><span class="column-title">Table Header</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Content Goes Here</td>
                                                <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                                                <td>Content Goes Here</td>
                                                <td>Content Goes Here</td>
                                            </tr>
                                            <tr>
                                                <td>Content Goes Here</td>
                                                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                                                <td>Content Goes Here</td>
                                                <td>Content Goes Here</td>
                                            </tr>
                                            <tr>
                                                <td>Content Goes Here</td>
                                                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                                                <td>Content Goes Here</td>
                                                <td>Content Goes Here</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Table footer</td>
                                                <td>Table footer</td>
                                                <td>Table footer</td>
                                                <td>Table footer</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:" class="close"></a>
                    </div>
                </div>
            </div>
        </div>
    {% include bottom.html %}