---
title: Client dashboard
description: 
canonical: 
direction: 
nav-position: fixed
nav-program-select: no-message
pin-dashboard: current
pin-dashboard-students: current
hide-support-secondary: hidden
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include menu-bar-client.html %}

        <main class="content">
            {% include subnav-client.html %}
            <div class="content-body">
                <div class="wrapper">
                    <div class="block double">
                        <article class="block horizontal-scroll">
                            <table class="table data small">
                                <thead>
                                    <tr>
                                        <th class="sorted descending">Student Name</th>
                                        <th>Major</th>
                                        <th width="150">Grad. Year</th>
                                        <th width="150">Signed Up</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cori Allen</td>
                                        <td>Business</td>
                                        <td>2015</td>
                                        <td>07/21/2015</td>
                                    </tr>
                                    <tr>
                                        <td>First Last</td>
                                        <td>Majore Name</td>
                                        <td>YYYY</td>
                                        <td>07/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td>First Last</td>
                                        <td>Majore Name</td>
                                        <td>YYYY</td>
                                        <td>07/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td>First Last</td>
                                        <td>Majore Name</td>
                                        <td>YYYY</td>
                                        <td>07/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td>First Last</td>
                                        <td>Majore Name</td>
                                        <td>YYYY</td>
                                        <td>07/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td>First Last</td>
                                        <td>Majore Name</td>
                                        <td>YYYY</td>
                                        <td>07/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td>First Last</td>
                                        <td>Majore Name</td>
                                        <td>YYYY</td>
                                        <td>07/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td>First Last</td>
                                        <td>Majore Name</td>
                                        <td>YYYY</td>
                                        <td>07/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td>First Last</td>
                                        <td>Majore Name</td>
                                        <td>YYYY</td>
                                        <td>07/01/2015</td>
                                    </tr>
                                    <tr>
                                        <td>Mike Mai</td>
                                        <td>Graphic Design</td>
                                        <td>2009</td>
                                        <td>Yesterday</td>
                                    </tr>
                                </tbody>
                            </table>
                        </article>
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}

        <!-- Modals -->
        {% include modal-client-programs.html %}
        
    {% include bottom.html %}