---
title: Client dashboard
description: 
canonical: 
direction: 
nav-position: fixed
nav-program-select: no-message
pin-support: current
pin-support-resources: current
hide-dashboard-secondary: hidden
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include menu-bar-client.html %}

        <main class="content">
            {% include subnav-client.html %}
            <div class="content-body">
                <div class="wrapper">
                    <div class="block double">
                        <article class="block horizontal-scroll">
                            <table class="table data small">
                                <thead>
                                    <tr>
                                        <th class="sorted descending">File Name</th>
                                        <th width="120">File Size</th>
                                        <th width="120">File Type</th>
                                        <th width="120"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Email template</td>
                                        <td>500KB</td>
                                        <td>.DOC</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>Excel template</td>
                                        <td>XXMB</td>
                                        <td>.XLS</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>File name</td>
                                        <td>XXMB</td>
                                        <td>.EXT</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>File name</td>
                                        <td>XXMB</td>
                                        <td>.EXT</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>File name</td>
                                        <td>XXMB</td>
                                        <td>.EXT</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>File name</td>
                                        <td>XXMB</td>
                                        <td>.EXT</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>Fullbridge logos</td>
                                        <td>1MB</td>
                                        <td>.ZIP</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>Powerpoint template</td>
                                        <td>50MB</td>
                                        <td>.PPT</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>Print guidelines</td>
                                        <td>500KB</td>
                                        <td>.PDF</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                    <tr>
                                        <td>Social media guidelines</td>
                                        <td>800KB</td>
                                        <td>.PDF</td>
                                        <td><a href="javascript:" class="link">Download</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </article>
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}

        <!-- Modals -->
        {% include modal-client-programs.html %}
        
    {% include bottom.html %}