---
title: Client dashboard
description: 
canonical: 
direction: 
nav-position: fixed
nav-program-select: no-message
pin-support: current
pin-support-tutorial: current
hide-dashboard-secondary: hidden
---
    {% include head.html %}

        {% include outdated-browser.html %}

        {% include menu-bar-client.html %}

        <main class="content">
            {% include subnav-client.html %}
            <div class="content-body">
                <div class="wrapper">
                    <div class="block double">
                        <article>
                            <div class="alert-box info" id="help">
                                <header>
                                    Need help getting started?
                                </header>
                                <p>
                                    Great, we are here to help. Thank you for partnering with Fullbridge. Landjaeger swine tail venison chuck ground round picanha porchetta ham bresaola chicken ham hock kevin. Shank fatback rump porchetta strip steak meatball. Andouille biltong short loin leberkas strip steak shankle pork loin chicken. Hamburger salami spare ribs ham landjaeger, tail swine shank turducken leberkas pork belly.
                                </p>
                                <a href="javascript:" class="close" data-anijs="if: click, do: $addClass hidden, to: #help;"></a>
                            </div>
                            <h3>Getting Started with Fullbridge</h3>
                            <div class="block">
                                <div class="units-list">
                                    <ol>
                                        <li>
                                            <a href="javascript:" class="">Welcome to Fullbridge</a>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="">Fullbridge as a Partner</a>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="">Program Running</a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="">Program Overview</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="">A Typical Day</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="">Crucial Steps</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="">Enrollment Best Practices</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="">Marketing Fullbridge</a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="">Information Session</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="">Email Templates</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="">Print and Social Media</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="">Space and IT Logistics</a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="">Space Set Up</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="">Internet Requirements</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="">Participant Set Up and Communication</a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="">Participant Set Up</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="">Participant Communication</a>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <a href="javascript:" class="">Program Manager Materials</a>
                                            <ol>
                                                <li>
                                                    <a href="javascript:" class="">Program Kick-off</a>
                                                    <ol>
                                                        <li>
                                                            <a href="javascript:" class="">Crucial Steps - Notes</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:" class="">A Typical Day - Notes</a>
                                                        </li>
                                                    </ol>
                                                </li>
                                                <li>
                                                    <a href="javascript:" class="">Internal Program Checklist</a>
                                                    <ol>
                                                        <li>
                                                            <a href="javascript:" class="">Pre-program</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:" class="">During and Post Program</a>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </main>
        {% include footer.html %}

        <!-- Modals -->
        {% include modal-client-programs.html %}
        
    {% include bottom.html %}